<div id="m-b-b" class="modal in" data-backdrop="false" style="display: block;"
     #modalRef="bs-modal" *ngIf="isModal" [config]="{ show: true }" (onHidden)="hideModal()" bsModal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loader" *ngIf="loader"></div>
            <div class="wrapper" *ngIf="!loader">
                <div class="header">
                    <h3 class="heading">Post</h3>
                    <span class="close" (click)="hideModal()"><i class="material-icons sort-icon">close</i></span>
                </div>
                <div class="feed-user-post" *ngIf="data">
                    <div class="post">
                        <div class="feed-user-post-header">
                            <a [routerLink]="['/board/u/user', this.data.user?.id || '']">
                                <img src="{{this.data.user?.profile_image}}" alt="user-image" class="feed-user-post-avatar">
                            </a>
                            <div class="feed-user-post-info">
                                <p class="post-info-user-name">
                                    {{this.data.user?.last_name | slice: 0: 1 + '.'}} {{this.data.user?.name}}
                                </p>
                                <p class="post-info-user-dofb">
                                    {{this.data.date.replace(' ', 'T') | date: "d MMMM, yyyy"}}
                                </p>
                            </div>
                        </div>

                        <div class="feed-user-post-conteiner">
                            <div class="feed-user-post-content">

                                <div *ngIf="this.data.type == 'post_text'" class="post-graph">
                                    <p [innerHtml]="this.data.content"></p>
                                </div>

                                <div *ngIf="this.data.type == 'post_image'" class="post-graph">
                                    <p>
                                      <span class="inline">
                                        <img src="{{this.data.source}}" class="img-responsive">
                                      </span>
                                    </p>
                                    <p [innerHtml]="this.data.content"></p>
                                </div>

                                <div *ngIf="this.data.type == 'post_video'" class="post-graph">
                                    <p [innerHtml]="this.data.content"></p>
                                    <p>
                                        <video width="100%" height="auto" controls>
                                            <source src="{{this.data.source}}" type="video/mp4">
                                        </video>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="delete btn btn-danger" (click)="handleDeletePost()" *ngIf="!deleted && data">Delete post</button>
            </div>
            <button class="deleted btn btn-danger" disabled (click)="handleDeletePost()" *ngIf="deleted || (!loader && !data)">Post deleted</button>
        </div>
    </div>
</div>
