

<div id="ConfirmModal" class="modal in" data-backdrop="false" style="display: block;"
     #modalRef="bs-modal" *ngIf="isModal" [config]="{ show: true, backdrop: false }" (onHidden)="hideModal()" bsModal>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Do you want to confirm?</p>
                <button type="button" class="btn btn-danger" (click)="confirm()" >Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
            </div>
        </div>
    </div>

</div>
