@import "src/assets/css/fonts/typography";

$padding10: 10px;
$padding20: 20px;

.order-summary {
  max-width: 585px;
  max-height: 70vh;
  height: 100%;
  padding: $padding10 35px;

  & *:not(.material-icons) {
    // @include font-poppins();
  }

  h4 {
    height: 35px;
    left: 30.47%;
    right: 59.01%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    color: #1E3F5C;
  }

  &__img {
    padding-bottom: $padding20;

    img {
      height: 100px;
      width: 100%;
    }
  }

  &__description {
    padding-bottom: $padding20 * 2;

    h5 {
      font-weight: 800;
      font-size: 20px;
      padding-bottom: $padding10;
    }

    &-text {
      font-weight: 300;
      font-size: 14px;
      opacity: 0.53;
      padding-bottom: $padding20;
    }

    &-price {
      padding-bottom: $padding20;

      &-count {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;

        span {
          font-size: 16px;
          position: relative;

          &:before {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 50%;
            background: #FF0000;
            transform: rotate(-10deg);
          }
        }

      }

      &-period {
        font-weight: 200;
        font-size: 14px;
        line-height: 27px;
      }
    }

    &-total {
      padding-bottom: $padding10;

      &-count,
      &-period {
        font-weight: 500;
      }

      &-count {
        color: #4a5568;
        font-size: 18px;
        line-height: 27px;
      }

      &-period {
        color: #2d3748;
        font-size: 20px;
        line-height: 30px;
      }
    }

    &-support {
      font-weight: 300;
      font-size: 12px;
      color: #8b8585;
    }
  }

  &__field {
    padding-bottom: $padding20;

    &-form {
      transition: 0.3s;
      border: 2px solid #529dff;
      border-radius: 28px;
      padding: 8px;
      width: 60%;

      input {
        width: 90%;
        border: none;
        font-size: 16px;
        margin-left: 2px;
        border-radius: 28px;
        color: #8e9ba6;

        &::placeholder {
          color: #8e9ba6;
        }
      }

      &-btn {
        transition: 0.5s;
        background: #529dff;
        border: 4px;
        border-radius: 28px;
        display: flex;
        align-items: center;
        padding: 3px;

        &:hover {
          transition: 0.5s;
          background: #00a7df;
        }
      }
    }

    &-active {
      transition: 0.3s;
      border: 2px solid #00a7df;
    }
  }


  &__coupon {
    color: #00a7df;
    margin-bottom: 10px;

    &-error {
      color: #FF0000;
      margin-bottom: 10px;
    }
  }

  &__submit {
    button {
      transition: 0.5s;
      background: #529dff;
      border-radius: 35px;
      border: none;
      color: #fff;
      text-transform: uppercase;
      padding: $padding10;
      outline: none;
      width: 40%;
      height: 55px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;

      &:hover {
        transition: 0.5s;
        background: #00a7df;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow-icon {
  font-size: 13;
}

.back-button {
  background-color: #FFFFFF;
  border: none;
  width: 87px;
  height: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  color: #1E3F5C;
}

.cancel-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background: #F0F0F0;
  border-radius: 70px;
  width: 24px;
  height: 24px;
  border: none;
}

.cancel-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #F0F0F0;
  border-radius: 70px;
  padding: 8px;
  gap: 10px;
  position: absolute;
  font: 6px;
  font-weight: 500;
  outline: none;
  border: none;
}

.sub-payment-container {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin: -5px auto;
  margin-bottom: 25px;
  background: #FDFDFD;
}

.package-container {
  display: flex;
  justify-content: space-between;
}

.package-name {
  width: 60%;
}

.sub-payment-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #142A3D;
}

.sub-payment-heading-two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 35px;
  color: #1E3F5C;
}

.sub-payment-heading-three {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #1E3F5C;
}

.subscription-currency {
  vertical-align: top;
  margin-right: 3px;
  font-size: 10px;
}

.blue-color {
  color: #529DFF;
}

.actual-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 104.5%;
  letter-spacing: -0.03em;
  color: #529DFF;
}

.package-price {}

.package-duration {}

.package-desc-container {
  display: flex;
  align-items: center;
}

.package-desc-text {
  width: 80%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  color: #142A3D;
}

.package-desc-text-two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  color: #535353;
}

.margin-remover {
  margin-top: -15px;
}

.margin-remover-two {
  margin-top: -13px;
}

.other-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

.other-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  text-align: right;
  color: #529DFF;
}

.other-price-two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #529DFF;
}

@media only screen and (max-width: 425px) {
  .order-summary {
    padding: 10px;

    &__field {
      &-form {
        width: 100%;
      }
    }

    &__submit {
      button {
        width: 80%;
        height: 55px;
      }
    }

    &__img {
      img {
        height: 70px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {}  