.registration-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.registration-graph {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #8B95A5;
}

.registration-options {
    width: 100%;
    margin: 0 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-btn button,
.payment-btn button, button.payment-btn {
    width: 100%;
    min-height: 45px;
    margin-top: 5%;
    border: none;
    background: #00A6DC;
    box-shadow: 0 10px 15px rgba(0, 166, 220, 0.301961);
    border-radius: 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
}

.registration-btn button:hover,
.payment-btn button:hover, button.payment-btn:hover {
    opacity: 0.75;
}

button.payment-btn.disabled {
    cursor: default;
    opacity: 0.5;
}

button.payment-btn.disabled:hover {
    opacity: 0.5;
}

.registration-membership {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 38px calc(50 / 830 * 100%);
}

.form-controls {
    width: 100%;
    margin: 4% 0;
    position: relative;
}

.form-controls-pair {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}

.form-control-input {
    width: 100%;
    min-height: 45px;
    padding-left: 15px;
    border: 1px solid #F4F6F9;
    background: #F4F6F9;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 35px;
    color: #8B95A5;
    border-radius: 50px;
}

.form-control-cortege {
    width: 47%;
}

.form-control-input:focus-within {
    border: 1px solid #00A6DC;
    box-shadow: 0 2.5px 5px rgba(0, 166, 220, 0.25677);
}

.form-control-input::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 35px;
    color: #8B95A5;
}

.form-control-error {
    float: right;
    color: #FF6465;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.form-control-input-error {
    width: 100%;
    height: 5vh;
    padding-left: 15px;
    border: 1px solid #ff5252;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 35px;
    color: black;
}

.membership-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #00A6DC;
}

/* --------------Payment------------- */
.form-control-csv {
    background-image: url('../../../../../../../assets/images/registrationPage/info-circle-solid.svg');
    background-repeat: no-repeat;
    background-position: right 1.37em top 50%;
    background-size: 1.25em auto;
}

.payment-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-card-type {
    width: 47%;
    min-height: 45px;
    border: transparent;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    color: #8B95A5;
}

.payment-card-type:hover,
.payment-card-active {
    border-bottom: 2px solid #00A6DC;
    font-weight: 600;
    color: #00A6DC;
}

.payment-accept {
    width: 100%;
    margin: 5% 0 0;
    text-align: center;
}

.payment-accept-graph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #8B95A5;
    text-align: center;
}

.payment-accept-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-accept-cards div {
    margin: 0 2%;
}

.payment-accept-cards svg {
    height: 24px;
}

.payment-accept-cards svg path {
    fill: #8B95A5;
}

.tab-text {
    position: relative;
}

.tab-text p {
    text-align: center;
    color: #8B95A5;
    margin-top: 3em;
    margin-bottom: 1em;
}

#inputCouponCode {
    width: 70%;
    float: left;
}

.btn.coupon-use {
    width: calc(30% - 1em);
    line-height: 0.85;
    margin: 0 0 0 1em;
}

.coupon-used.membership-price {
    text-decoration: line-through;
    color: #dc0000;
}

.payment-block {
    width: 100%;
    /* min-height: 50vh; */
}

.payment-block iframe {
    border: 0;
    height: 70vh;
    width: 100%;
}

.payment-block iframe.d-none {
    display: none;
}
