.report-modal {
    border-radius: 50px;
    border: 1px solid #C4C4C4;
    padding: 50px;
    max-width: 460px;
}

.heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    color: #00A7DF;
}

.subheading {
    font-family: Montserrat;
    font-size: 12px;
    color: #000000;
}

.report-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.radio-input {
    display: none;
}

.radio-label {
    background: #F8F8F8;
    border-radius: 50px;
    color: #00A7DF;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    transition: all .25s;
    cursor: pointer;
    width: 150px;
}

.radio-input:checked + .radio-label,
.radio-input:hover + .radio-label {
    background: #00A7DF;
    color: #FFFFFF
}

.comment {
    background: #F8F8F8;
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 15px;
    width: 350px;
    margin: 10px auto 0;
}

.comment::placeholder {
    color: #A2AAB7;
}

.error {
    color: #FF005F;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.submit {
    width: 50%;
    text-align: center;
    background: #F8F8F8;
    border-radius: 50px;
    color: #00A7DF;
    transition: all .25s;
    border: none;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 600;
}

.submit:hover {
    background: #00A7DF;
    color: white;
    opacity: .8;
}

.bold {
    font-weight: bold;
}

.sent {
    margin-top: 30px;
}

.close {
    position: absolute;
    top: 30px;
    right: 20px;
}