<div class="sleep-tracker-container">
  <div class="sleep-tracker-header">
    <div class="sleep-tracker-widget">
      <img  src="../../../../../assets/images/icons/sleep.svg" alt="">
    </div>
    <p class="sleep-tracker-title">Sleep Tracker</p>
    <div class="sleep-tracker-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <a class="nav-link text-muted" disabled data-toggle="dropdown">
            ...
          </a>
           <div class="dropdown-menu dropdown-menu-scale pull-right dark">
            <a class="dropdown-item" href="">Activities</a>
            <a class="dropdown-item" href="">Feed</a>
            <a class="dropdown-item" href="">Upload</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Settings</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="sleep-tracker-content">
    <p class="sleep-tracker-graph">
      How many hours did you <br> 
      sleep last night?
    </p>
    <div class="sleep-tracker-hours">
      <input type="text" readonly [(ngModel)]="sleep.hours">
      <span>hours</span>
    </div>
    <div>
      <ion-range-slider #sliderElement min="0" max="12" from="sleep.hours" 
                        grid="false" decorate_both="false" step="0.5"
                        (onChange)="changeSliderHours($event)">
      </ion-range-slider>
    </div>
  </div>

  <div class="sleep-tracker-footer">
    <button type="button" class="sleep-tracker-btn" (click)="saveHoursOfDay()">
      Save
    </button>  
  </div>

</div>

<!--------------Old Design--------------->
<!-- <div class="box box--small wellness-plan-box new-box">
  <div class="loading" *ngIf="loadingBox">
    <div class="loader"></div>
  </div>
  <div class="box-header">
    <h4>Sleep Tracker</h4>
    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <a class="nav-link text-muted" disabled data-toggle="dropdown">
            ...
          </a>
           <div class="dropdown-menu dropdown-menu-scale pull-right dark">
            <a class="dropdown-item" href="">Activities</a>
            <a class="dropdown-item" href="">Feed</a>
            <a class="dropdown-item" href="">Upload</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Settings</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center" style="padding-top: 0px !important; padding-bottom:24px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="animated bounceIn" [hidden]="!isVisibleIntro" style="width: 145px !important;height: 130px;margin: 0 auto;" [inlineSVG]="'../../assets/images/widgets/sleep.svg'">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h6 class="animated bounceInUp">How many hours did you sleep last night?</h6>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      
        
    </div>

    <div class="row">
      <button type="button" class="dashboardModelButton" (click)="saveHoursOfDay()">
        Save
      </button>
    </div>


    <p [hidden]="!isVisibleIntro" class="animated fadeIn" style="height: 20px;">  <small *ngIf="hours > 0"><i class="fa fa-caret-right"></i> Hours today: <strong>{{hours}}</strong></small></p>

    <div>

      <div class="form-group" [hidden]="!isVisibleInput">
        
        <hr>

        <div class="text-center m-t">
         <button type="button" class="dashboardModelButton" (click)="closeFormInput()"><i class="fa fa-arrow-left"></i> Back</button>         
        </div>
      </div>

    </div>

    <div class="text-center m-t" [hidden]="!isVisibleIntro">

 <hr>

      <button class="dashboardModelButton" (click)="openFormInput()">
        Set
      </button>
      <button class="btn btn-sm danger margin-0-12 m-y-xs" (click)="openLogWeek()" style="display:none;">
        <i class="fa fa-line-chart"></i>
        See log
      </button>
    </div>

  </div>
</div> -->

<div id="m" class="modal" #modalRef="bs-modal" [config]="{ show: false }" bsModal>
  <div class="modal-dialog animated fade-left modal-lg">
    <div class="modal-content">
      <div class="loading" *ngIf="loadingBoxModal">
        <div class="loader"></div>
      </div>
      <div class="modal-header">
        <div class="box-header">
          <div class="pull-right">
  <a class="btn btn-sm danger full-width margin-0-12 m-y-xs" [routerLinkActive]="['active']" [routerLink]="['/board/u/progress']"><i class="fa fa-line-chart"></i> View total progress</a>          </div>
          <h3>
            <i class="fa fa-bed"></i>
            Sleep tracker</h3>
          <small>Summary of sleep hours of the last 5 days</small>
        </div>
      </div>
      <div class="modal-body text-center p-lg">
        <div class="row">
          <div class="col-md-12">
            <div class="">
              <span>Recommended sleep hours
                <span class="label rounded dark pos-rlt text-sm m-r-xs"><b class="arrow bottom b-dark pull-in"></b>{{recommended}}</span>
              </span>
            </div>
            <br>
            <ngx-charts-line-chart [results]="dataReport" [xAxis]="true" [yAxis]="true" [scheme]="colorScheme" schemeType="linear" [legend]="true" [gradient]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [showRefLines]="true"
              [autoScale]="true" [referenceLines]="ref">
            </ngx-charts-line-chart>

          </div>
        </div>


      </div>
    </div>

  </div>
</div>
