.my-program-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.my-program-fitness-home {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fitness-home-main {
  width: 68%;
  margin: 0;
  padding: 0;
}

.fitness-home-header {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
}

.fitness-home-header-tab {
  width: auto;
  height: 45px;
  margin-right: 5%;
  padding-bottom: 17px;
  background: transparent;
  border: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.92;
  color: #4a6288;
  text-align: left;
}

.fitness-home-header-tab:hover,
.tab-active {
  border-bottom: 3px solid #00a7df;
  color: #00a7df;
}

.fitness-home-header-tab-icon svg {
  height: 15px;
  margin-right: 15px;
}

.fitness-home-main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.fitness-home-daily-workout {
  width: 100%;
  margin: 35px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 5px;
  background-color: #ffffff;
}

.fitness-home-daily-workout-info {
  width: 60%;
}

.daily-workout-info-title {
  width: 100%;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.92;
  text-align: left;
  color: #4a6288;
  text-transform: capitalize;
}

.daily-workout-info-name {
  width: 100%;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #4a6288;
  text-transform: capitalize;
}

/*-------------Star raiting with input----------------*/
div.stars {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
}

input.star { display: none; }

label.star {
  float: right;
  padding-right: 3px;
  font-size: 15px;
  color: #4a6288;
  transition: all .2s;
  cursor: pointer;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ff8800;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #ff8800;
  text-shadow: 0 0 1px #774726;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.daily-workout-raiting {
  margin-left: 10px;
  margin-top: 2px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #ff8800;
}

.daily-workout-genre {
  width: 50%;
  display: list-item;
  margin-left: 25px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #4a6288;
  text-transform: capitalize;
}

.daily-workout-watch {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.daily-workout-watch-btn {
  width: 140px;
  height: 45px;
  margin-right: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 15px 0 rgba(0, 167, 223, 0.15);
  background-color: #00a7df;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.92;
  text-align: center;
  color: #ffffff;
}

.daily-workout-watch-people {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 3.18;
  text-align: left;
  color: #c9c9c9;
}

.fitness-home-daily-workout-poster {
  width: 40%;
  min-height: 175px;
  border-radius: 5px;
  object-fit: contain;
}
/* ----------------------------------- */
.fitness-home-main-content-title {
  width: 100%;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.92;
  text-align: left;
  color: #4a6288;
}

.fitness-home-main-content-list {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fitness-home-main-content-list-item {
  position: relative;
  width: 47%;
  height: 215px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fitness-home-list-item-footer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.fitness-home-list-item-footer-info {
  width: 65%;
  font-family: Montserrat;
  text-align: left;
  color: #ffffff;
}

.fitness-home-list-item-footer-info div:nth-of-type(1){
  font-size: 15px;
  font-weight: 600;
}

.fitness-home-list-item-footer-info div:nth-of-type(2){
  font-size: 11px;
}

.fitness-home-list-item-footer-btn {
  width: 35%;
  height: 35px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 167, 223, 0.15);
  background-color: #00a7df;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.92;
  text-align: center;
  color: #ffffff;
}

.fitness-home-list-item-footer-btn-icon svg {
  height: 15px;
  margin-left: 15px;
}

.fitness-home-footer {
  width: 100%;
  text-align: center;
}

/* ------------Fitness home Right side bar-------------- */
.fitness-home-right-side-bar {
  width: 28%;
  height: auto;
  margin: 0;
  padding: 0;
}

.fitness-home-right-side-bar-header {
  width: 100%;
  height: 45px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #4a6288;
  text-transform: capitalize;
}

.fitness-home-right-side-bar-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.fitness-home-right-side-bar-content-item {
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  cursor: pointer;
}

.article-poster {
  width: 100%;
  height: 160px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 5px;
}

.article-title {
  width: 100%;
  height: 39px;
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  color: #4a6288;
}

.article-date-create {
  width: 100%;
  height: 14px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 3.18;
  text-align: left;
  color: #889dbe
}

.article-date-create-icon svg {
  height: 14px;
  margin-right: 14px;
}

.article-graph {
  width: 100%;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 1.82;
  text-align: left;
  color: #4a6288;
}

::ng-deep strong.read-more {
  color: #00a7df;
}

.article-graph-more {
  color: #00a7df;
  text-transform: capitalize;
  cursor: pointer;
}

.article-separate-line {
  width: 100%;
  margin: 20px 0;
}

.fitness-home-right-side-bar-content-btn {
  width: 128px;
  height: 45px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 167, 223, 0.15);
  background-color: rgba(0, 167, 223, 0.05);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.92;
  text-align: center;
  color: #00a7df;
  text-transform: capitalize;
}

.fitness-home-right-side-bar-content-btn-icon svg {
  height: 15px;
  margin-left: 15px;
}

/* ---------------------------------- */

.my-program-fitness-workouts {
  width: 100%;
  margin: 0;
  padding: 0;
}

.fitness-workouts-main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.fitness-workouts-header {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-x: auto;
}

.fitness-workouts-header-nav {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
}

.fitness-workouts-header-search {
  width: 28%;
}

.header-search-btn {
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: solid 1px #efefef;
  background-color: #ffffff;
}

.header-search-btn-icon svg {
  height: 15px;
  margin-right: 15px;
  color: #97abcb;
  cursor: pointer;
}

.header-search-input {
  width: 85%;
  height: 100%;
  border: none;
  background: transparent;
  font-family: Montserrat;
  font-size: 12px;
  text-align: left;
  color: #97abcb;
}

.header-search-input::placeholder {
  font-family: Montserrat;
  font-size: 12px;
  text-align: left;
  color: #97abcb;
}

.fitness-workouts-search-content-list,
.fitness-workouts-main-content-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.fitness-workouts-main-content-list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  min-height: 215px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fitness-workouts-main-content-list-item:nth-child(3) {
  margin-right: 0;
}

.list-item-options {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fitness-workouts-list-item-btn {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  opacity: 0.8;
  background-color: #00a7df;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}

.fitness-home-list-item-footer {
  position: relative;
  width: 100%;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  z-index: 2;
}

/* -------Fitness — Workouts: Video Details--------- */
.fitness-workout-detail-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fitness-workout-detail {
  width: 68%;
}

.fitness-workout-detail-poster {
  width: 100%;
  height: 406px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fitness-workout-detail-poster-btn {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  opacity: 0.8;
  background-color: #00a7df;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}

.fitness-workout-detail-name {
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #4a6288;
}

.fitness-workout-detail-description {
  width: 100%;
  font-family: Montserrat;
  font-size: 12px;
  text-align: justify;
  color: #4a6288;
}

.workout-detail-rightside-bar {
  width: 28%;
}

.workout-detail-rightside-bar-title {
  width: 100%;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #4a6288;
}

.workout-detail-rightside-bar-list-item {
  position: relative;
  width: 100%;
  min-height: 215px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fitness-home-main-content-list-item::before,
.fitness-workouts-main-content-list-item::before,
.workout-detail-rightside-bar-list-item::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), #1e1e1e);
  z-index: 1;
}

/* ---------Fitness — Workouts: Item Details-------- */
.fitness-item-detail-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fitness-item-detail {
  width: 68%;
  margin: 0;
  padding: 0;
}

.fitness-item-detail-poster {
  width: 100%;
  min-height: 297px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fitness-item-detail-name {
  width: 100%;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #4a6288;
}

.fitness-item-detail-date-create {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 3.18;
  text-align: left;
  color: #889dbe;
}

.item-detail-date-create-icon {
  margin-right: 15px;
}

.item-detail-date-create-icon:nth-of-type(2) {
  display: list-item;
}

.item-detail-date-create-icon svg {
  height: 15px;
}

.item-detail-description {
  width: 100%;
  font-family: Montserrat;
  text-align: left;
  color: #4a6288;
}

.item-detail-description p {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}

.item-detail-description p span {
  font-size: 12px;
  line-height: 2.5;
}

.fitness-item-detail-extra {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.extra-item {
  width: 47%;
}

.fitness-item-detail-footer {
  width: 100%;
  text-align: center;
}

/*::ng-deep .myprogram-main-article-description img {
  width: 100%;
}*/

.workout-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myprogram-articles-bar-item-graph {
  min-height: 15px;
  max-height: 45px;
  line-height: 15px;
  overflow: hidden;
  position: relative;
  color: #4a6288;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.myprogram-articles-bar-item-graph .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #00A7DF;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(244, 245, 249);
  padding: 0 5px;
}

@media screen and (max-width: 360px) {
  .fitness-home-header-tab {
    margin-right: 0 !important;
    
  }
  .fitness-home-header-tab-icon svg {
    margin-right: 5px;
  }

}


/*  media queries */
@media screen and (max-width: 720px) {
  .fitness-home-header {
    margin-top: 65px;
  }
}

@media screen and (max-width: 810px) {
  .fitness-home-daily-workout {
    flex-direction: column;
  }

  .fitness-home-daily-workout .fitness-home-daily-workout-info {
    width: 100%;
  }

  .fitness-home-daily-workout > img {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .fitness-workouts-header {
    flex-direction: column-reverse;
  }
  .fitness-workouts-header-nav, .fitness-workouts-header-search {
    width: 100%;
    margin: 10px 0;
  }

  .fitness-workouts-main-content-list-item, section.my-program-fitness-workouts .myprogram-main-article-container, section.my-program-fitness-workouts .myprogram-articles-rightside-bar-container {
    width: 100%;
  }

  section.my-program-fitness-workouts .myprogram-articles-rightside-bar-container .myprogram-articles-rightside-bar-item-poster,
  section.my-program-fitness-home .article-poster{
    height: auto;
  }
  section.my-program-fitness-workouts .myprogram-articles-rightside-bar-container,
  section.my-program-fitness-home .fitness-home-right-side-bar-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  section.my-program-fitness-workouts .fitness-home-right-side-bar-header {
    text-align: center;
    fontsize: 25px;
  }

  .myprogram-articles-container {
    flex-direction: column;
  }

  section.my-program-fitness-home {
    flex-direction: column;
  }
  section.my-program-fitness-home > div {
    width: 100%;
  }
  section.my-program-fitness-home .fitness-home-main-content-list-item {
    width: 100%;
  }
}


