.title-tile {
  margin-bottom: 15px;
  margin-top: -20px;
}

.input-inline {
  width: 35%;
  display: inline-block;
  margin: 5px 5px;
  text-align: center;
  font-weight: 700;
}

.hr-custom {
  margin: 5px;
  margin-bottom: -7px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
