<div class="program_card">
  <div class="program_content">
    <div class="program_desc_container">
      <div class="program_desc_container_header_container">
        <h1>
          <b>
            {{ program.title }}
          </b>
        </h1>
        <h2>{{ program.subtitle }}</h2>
        <h3>{{ program.daily_workout.title }}</h3>
      </div>
      <h4 [innerHTML]="program.description"></h4>
      <div class="program_desc_container_button_container">
        <button *ngIf="program.daily_workout.aws_url != ''"
          class="daily_workout_button"
          (click)="handlePlayVideo(program.daily_workout)"
        >
          <i class="fa fa-play" aria-hidden="true"></i> DAILY WORKOUT
        </button>
        <button
          (click)="chooseProgram()"
          *ngIf="!isSingle"
          class="view_program_button"
        >
          VIEW PROGRAM
        </button>
      </div>
    </div>
    <div class="program_thumbnail_container">
      <img
        src="{{ program.daily_workout.thumbnail }}"
        class="program_thumbnail"
      />
      <div
        [ngClass]="
          category === 'Fitness'
            ? 'program_thumbnail_container_tag_fitness'
            : 'program_thumbnail_container_tag_wellness'
        "
      >
        {{ category }}
      </div>
    </div>
  </div>

  <div class="cancel_button_wrapper" (click)="removeProgram()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <!-- <div class="card-content">
    <p>Daily Workout</p>
    <p class="program-name2">{{ program.daily_workout.title }}</p>
    <p class="program-name">{{ program.title }}</p>
    <p class="program-category">{{ category }}</p>
    <div class="actions-btns">
      <button
        class="action-btn"
        (click)="handlePlayVideo(program.daily_workout)"
      >
        <i class="fas fa-play"></i>Daily Workout
      </button>
      <button class="action-btn" (click)="chooseProgram()" *ngIf="!isSingle">
        View Full Program
      </button>
      <button
        class="action-btn"
        (click)="resetChooseProgram()"
        *ngIf="isSingle"
      >
        View All Programs
      </button>
    </div>
  </div>
  <img src="{{ program.daily_workout.thumbnail }}" class="lesson-thumb" /> -->
</div>