<div class="container">
  <div ui-view="" class="app-body" id="view">
    <div class="padding">


      <div class="item box" style="background-color: #ffffff;">
        <div class="box-tool">
          <ul class="nav">
            <li class="nav-item inline dropdown">
              <a class="nav-link text-muted" disabled data-toggle="dropdown">
                <i class="material-icons text-muted md-18"></i>
              </a>
              <!-- <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                <a class="dropdown-item" (click)="openSettings()"><i class="fa fa-cogs"></i> Settings</a>
              </div> -->
            </li>
          </ul>
        </div>
        <div class="p-a-md">
          <div class="row m-t">
            <div class="col-md-12">
              <a href="" class="pull-left m-r-md">
                <span class="avatar w-96">
                  <img src="{{user.profile_image.public_url}}">
                </span>
              </a>
              <div class="clear m-b">
                <h3 class="m-a-0 m-b-xs">{{user.name}}</h3>
                <p class="text-muted"><span class="m-r">{{user.gender == 'M' ? 'Male' : 'Female'}}</span> <small><i class="fa fa-map-marker m-r-xs"></i>{{user.city}}, {{user.country}}</small></p>
                <div class="block clearfix m-b">
                  <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-facebook indigo"></i>
                  </a>
                  <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-twitter light-blue"></i>
                  </a>
                  <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-google-plus red"></i>
                  </a>
                  <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-linkedin cyan-600"></i>
                  </a>
                </div>


              </div>

            </div>

          </div>
        </div>
      </div>





      <div class="row">
        <div class="col-md-12">
          <div class="box" style="min-height: 25rem;">
            <!-- <div class="loading">
              <div class="loader"></div>
            </div> -->
            <div class="box-tool">
              <ul class="nav">
                <li class="nav-item inline dropdown">
                  <a class="nav-link text-muted" disabled data-toggle="dropdown">
                    <i class="material-icons text-muted md-18"></i>
                  </a>
                  <!-- <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                    <a class="dropdown-item" (click)="openSettings()"><i class="fa fa-cogs"></i> Settings</a>
                  </div> -->
                </li>
              </ul>
            </div>

            <div class="box-body text-center">

              <div class="b-b nav-active-bg">
                <ul class="nav nav-tabs">
                  <li class="nav-item active">
                    <a class="nav-link" (click)="tab = 'questionnaire'" data-toggle="tab" data-target="#tab1" aria-expanded="false"><i class="fa fa-file-text"></i> Questionnaire</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="tab = 'wellness'" data-toggle="tab" data-target="#tab1" aria-expanded="false"><i class="fa fa-cubes"></i> Wellness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="tab = 'program'" data-toggle="tab" data-target="#tab2" aria-expanded="false"><i class="fa fa-star"></i> Program</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="tab = 'before_after'" data-toggle="tab" data-target="#tab2" aria-expanded="false"><i class="fa fa-camera"></i> Before and after</a>
                  </li>
                </ul>


              </div>
              <div *ngIf="tab == 'questionnaire'">
                <app-questionnaire [uid]="user.id" [client_id]="user.client.id"></app-questionnaire>
              </div>

              <div *ngIf="tab == 'wellness'">
                <app-managers-meters [uid]="user.id" [client_id]="user.client.id"></app-managers-meters>
              </div>

              <div *ngIf="tab == 'program'">
                <app-programs [uid]="user.id" [client_id]="user.client.id"></app-programs>
              </div>

              <div *ngIf="tab == 'before_after'">
                <app-before-after [uid]="user.id" [client_id]="user.client.id"></app-before-after>
              </div>


            </div>

          </div>
        </div>
      </div>


    </div>

    <div>


    </div>
  </div>
</div>
