<div class="card-wrapper" (mouseleave)="isActive = false" [ngClass]="{ isMore: isMore, popular: isPopular }"
  (click)="openModal()">
  <!-- >Main Card Component -->
  <div class="card" [ngClass]="{ active: isActive }" (mouseenter)="isActive = true">
    <img [src]="program.thumbnail" [alt]="program.title" class="poster" />

    <div [ngClass]="isPopular ? 'program-info-popular' : 'program-info'">
      <p class="title">{{ program.title }}</p>
      <div class="info-card">
        <img style="width: 12px; height: 12px" src="assets/images/stack_icon.svg" />
        {{ program.lessons_count }}
      </div>
    </div>

    <!-- <div class="darkner"></div> -->

    <!-- <span class="order" *ngIf="isPopular">{{program.order_in_popular || 1}}</span> -->
  </div>

  <!-- Card details on Hover -->
  <div class="card-details" [ngClass]="{ isMore: isMore }" [style.opacity]="isActive ? '1' : '0'"
    [style.visibility]="isActive ? 'visible' : 'hidden'">
    <div class="details-heading">
      <div class="heading-title">{{ program.title }}</div>
      <div class="heading-subtitle">By {{ program.subtitle }}</div>

    <div class="details-description" *ngIf="!isMore" [innerHTML]="program.description"></div>

    <div class="no-description" *ngIf="isMore"></div>

    <div class="actions-buttons">
      <div class="action-play">
        <app-playvideobutton (onPlayVideo)="handlePlayClick()" [fontSize]="'15px'"></app-playvideobutton>
      </div>
      <button class="get-started-btn" (click)="getStarted(program)">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>

</div>