<div class="programs-slider">
  <owl-carousel [options]="carouselOptions">
    <div *ngFor="let program of programs">
      <!--      <app-client-mostpopular [program]="program" (onPlayVideo)="handlePlayVideo($event)" *ngIf="type === 'popular'"></app-client-mostpopular>-->
      <app-client-programcategory
        [program]="program"
        (onPlayVideo)="handlePlayVideo($event)"
        [isPopular]="type === 'popular'"
        [user]="user"
        (onShowPaymentModal)="handlePaymentFormModal($event)"
        (onSubscribeSlider)="handleProgramSubscription($event)"
      ></app-client-programcategory>
    </div>
  </owl-carousel>
</div>
