<div class="nutrition-tracker-container">
  <!-- <div class="loading" *ngIf="loadingBox">
    <div class="loader"></div>
  </div> -->

  <div class="nutrition-tracker-header">
    <div class="nutrition-tracker-widget">
      <img  src="../../../../../assets/images/icons/nutrition.svg" alt="nutrition">
    </div>
    <p class="nutrition-tracker-title">nutrition tracker</p>
    <div class="nutrition-tracker-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <a class="nav-link text-muted" disabled data-toggle="dropdown">
            ...
          </a>
          <div class="dropdown-menu dropdown-menu-scale pull-right dark">
            <a class="dropdown-item">Options</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="nutrition-tracker-content">
          <svg class="progress-ring" width="152" height="152">
              <circle  class="progress-ring__circle" stroke="white" stroke-width="4" cx="76" cy="76" r="74" fill="transparent"/>
          </svg>
          <div class="ring">
            <div class="nutrition-tracker-graph-wrap">
              <p class="water-tracker-numb">{{calories}}</p>
              <p class="nutrition-tracker-graph">calories</p>
            </div>
            <span class="thumb"></span>
          </div>
    </div>
  
    <div class="nutrition-tracker-footer">
      <!-- <button type="button" class="nutrition-tracker-btn" 
              [routerLink]="['/board/u/program/filter/10/Fitness']" 
              *ngIf="finished == 0">
        Save
      </button> -->

      <!-- [routerLink]="['/board/u/program/filter/10/Fitness']" 
              *ngIf="finished > 0" -->
      <button type="button" class="nutrition-tracker-btn"
              (click)="setCalories()">
        Save
      </button>
    </div>
  </div>

</div>

<!-----------------Old Design----------------->
<!-- <div class="box box--small new-box wellness-plan-box">
  <div class="box-header">
    <h4>Nutrition tracker</h4>
    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <a class="nav-link text-muted" disabled data-toggle="dropdown">
            ...
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center p-a-md" style="padding-top: 0px !important;">

    <div style="margin-left:-35px;" >
      <div style="width: 150px;  position: relative; margin: 0 auto;">
        <img src="../../assets/images/widgets/meter_start.png" style="margin:0 auto; height: 145px; " *ngIf="finished == 0">
        <img src="../../assets/images/widgets/meter_goal.png" style="margin:0 auto;height: 145px;" *ngIf="finished > 0">
        <span style="    position: absolute;
      bottom: 3px;
      left: 50px;
      color: white;">Step</span>
        <span style="    position: absolute;
      bottom: 3px;
      width: 70px;
      left: 90px;
      color: white;">{{finished}} of {{total}}</span>
      </div>
    </div>


    <div class="text-center" style="padding-top:46px !important;">
        <hr>
      <button class="dashboardModelButton" [routerLinkActive]="['active']" [routerLink]="['/board/u/program/filter/10/Fitness']" *ngIf="finished == 0">
        Start program
      </button>
        <button class="dashboardModelButton" [routerLinkActive]="['active']" [routerLink]="['/board/u/program/filter/10/Fitness']" *ngIf="finished > 0">
          Go to program</button>
    </div>

  </div>
</div> -->
