.panel {
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
}

.profile-header {
    flex-direction: column;
}

.user-cover {
    position: relative;
    height: 265px;
    width: calc(100% + 50px);
    border-radius: 5px;
    overflow: hidden;
    margin-top: -25px;
}

.user-cover.darkness:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    width: 100%;
    position: relative;
}

.profile-info-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 15px 0;
}

.profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 15px;
}

.profile-avatar.mentor {
    background: linear-gradient(103.4deg, #BF953F 11.76%, #DEC67D 53.72%, #BF953F 93.97%);
}

.active-stories {
    border: 3px solid #00A7DF;
}

.profile-img {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    object-fit: cover;
}

.main-top {
    padding-left: 190px;
    margin-top: 10px;
    position: relative;
}

.main-basic {
    display: flex;
    align-items: center;
}

.main-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #4A6288;
    margin: 0;
}

.main-plan {
    background: linear-gradient(107.41deg, #00A7DF 13.27%, #00DFC1 87.31%);
    border-radius: 30px;
    padding: 3px 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-left: 14px;
}

.main-plan.mentor {
    background: linear-gradient(103.4deg, #BF953F 11.76%, #DEC67D 53.72%, #BF953F 93.97%);
}

.main-from {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #A2AAB7;
    margin-top: 5px 0 0;
}

.main-bio {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 0;
    white-space: pre-wrap;
    color: #A2AAB7;
}

.bio-heading {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.main-friends {
    display: flex;
    flex-direction: column;
}

.friends-count {
    color: #4A6288;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.friends-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #A2AAB7;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-feed {
    width: 100%;
}

.profile-friends {
    width: 30%;
}

.friendship-btn {
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 15px 0 rgba(0,167,223,.15);
    background: linear-gradient(101.43deg, #01A7DF 8.21%, #01B9D6 49.8%, #01CACD 90.54%);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    color: #fff;
    transition: all .25s;
    padding: 10px 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.friendship-btn:hover {
    /*opacity: .8;*/
    transform: scale(1.05);
}

.friendship-btn .plus {
    margin: -2px 6px 0 0;
}

.disabled {
    pointer-events: none;
    cursor: initial;
}

.fitness-workouts-search-content-list,
.fitness-workouts-main-content-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fitness-workouts-main-content-list-item {
    margin-right: 20px;
    position: relative;
    width: calc((100% - 40px) / 3);
    min-height: 215px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(86, 202, 238, 0), #093c50);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.fitness-workouts-main-content-list-item:last-child {
    margin-right: 0;
}

.fitness-home-main-content-list-item::before,
.fitness-workouts-main-content-list-item::before,
.workout-detail-rightside-bar-list-item::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), #1e1e1e);
    z-index: 1;
}

.list-item-options {
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.fitness-workouts-list-item-btn {
    position: relative;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    opacity: 0.8;
    background-color: #00a7df;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    margin-top: 20px;
}

.fitness-home-list-item-footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-family: Montserrat, serif;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}

.play-wrap {
    width: 50px;
    height: 50px;
    z-index: 3;
    position: absolute;
    transform: translate(-90%, -90%);
    top: 50%;
    left: 50%;
}

.mentor-content-heading {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: #4A6288;
    margin-bottom: 15px;
}

.mentor-content-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .fitness-workouts-main-content-list-item, section.my-program-fitness-workouts .myprogram-main-article-container, section.my-program-fitness-workouts .myprogram-articles-rightside-bar-container {
        width: 100%;
        margin-right: 0;
    }
}
