<section class="profile">
    <div class="profile-header panel" *ngIf="user">
        <!--<div class="user-cover" [ngClass]="{'darkness':user.cover_image}">-->
        <div class="user-cover darkness">
            <img src="{{user.cover_image.public_url || '../../../../../assets/images/blue_cover.png'}}" class="cover-img" alt="{{user.name}}">
            <button class="friendship-btn" *ngIf="!isMe && (canAdd && !isRequestSent)" (click)="addFriendRequest()">
                <img class="plus" src="../../../../../assets/images/addFriend.svg" alt="+">
                Add friend
            </button>
            <button class="friendship-btn disabled" *ngIf="isRequestSent && !isFriend">
                Request sent
            </button>
            <button class="friendship-btn" *ngIf="isFriend" (click)="deleteFriend()">
                Unfriend
            </button>
        </div>
        <div class="profile-info">
            <div class="profile-avatar" [ngClass]="{'active-stories': hasActiveStories, 'mentor': isUserMentor()}">
                <img src="{{user.profile_image.public_url}}" class="profile-img" alt="{{user.name}}">
            </div>
            <div class="profile-info-main">
                <div class="main-top">
                    <div class="main-basic">
                        <h3 class="main-name">{{user.name}} {{user.last_name}}</h3>
                        <span class="main-plan" [ngClass]="{'mentor': isUserMentor()}">{{ getUserBadge() }}</span>
                    </div>
                    <p class="main-from">{{user.city}} {{country}}</p>
                </div>
                <div class="main-bio" *ngIf="user.bio">
                    <p class="bio-heading">Biography</p>
                    <p>{{user.bio}}</p>
                </div>
                <!-- <div class="main-friends">
                    <span class="friends-count">{{friendsCount}}</span>
                    <span class="friends-heading">Friends</span>
                </div> -->
            </div>
        </div>
    </div>

    <div class="mentor-videos mentor-content" *ngIf="mentorVideoList?.length > 0">
        <div class="mentor-content-heading">Videos</div>

        <div class="mentor-content-list">
            <div class="fitness-workouts-main-content-list-item"
                 *ngFor="let mentorVideo of mentorVideoList;"
                 [style.background-image]="safeImageUrl(mentorVideo.thumbnail)">
                <div class="list-item-options">
                    <div class="play-wrap">
                        <app-playvideobuttontwo [fontSize]="'18px'" (onPlayVideo)="webview.playVideoByUrl(mentorVideo)"></app-playvideobuttontwo>
                    </div>
                </div>
                <div class="fitness-home-list-item-footer">
                    {{mentorVideo.title}}
                </div>
            </div>
        </div>

    </div>

    <div class="mentor-articles mentor-content" *ngIf="mentorArticleList?.length > 0">
        <div class="mentor-content-heading">Articles</div>

        <div class="mentor-content-list">
            <div class="fitness-workouts-main-content-list-item pointer"
                 *ngFor="let mentorArticle of mentorArticleList;"
                 [style.background-image]="safeImageUrl(mentorArticle.thumbnail)"
                 [routerLink]="['/board/u/myprogram/filter', clientTypes[mentorArticle.category.id]?.id || 0, mentorArticle.category.title.toLocaleLowerCase() ,'article', mentorArticle.id]">
                <div class="list-item-options"></div>
                <div class="fitness-home-list-item-footer">
                    {{mentorArticle.title}}
                </div>
            </div>
        </div>

    </div>

    <div class="profile-content" *ngIf="user?.firestore_uid">
        <div class="panel profile-feed">
            <app-client-feed [isProfile]="true" [canComment]="isFriend || user.role_id == 4" [feedUserId]="user?.firestore_uid" style="width: 100%"></app-client-feed>
        </div>
        <!-- <div class="profile-friends">
            <app-client-friends [fireStoreUId]="user?.firestore_uid" (emitFriendsCount)="this.friendsCount = $event"></app-client-friends>
        </div> -->
    </div>
</section>
<webview-contents></webview-contents>
