.watch-btn {
    background: #00000020;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 97px;
    outline: none;
    color: white;
    transition: all 0.25s;
    border: none;
    /* border: 5px solid rgb(0, 167, 223); */
}

.watch-btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background: rgba(0, 167, 223, 0.8);
}
