<div class="container" id="main-container">
    <div ui-view="" class="app-body" id="view">
        <div class="padding">
            
            <!-- <app-client-flag></app-client-flag> -->
            <div class="row" id="sort--view">
                <div class="col-md-12">
                    <!-- <app-client-quotes></app-client-quotes>--> 
                </div>
                <app-client-card></app-client-card>
            </div>
        </div>
    </div>
</div>

 <div  class="extra_fitnut"></div>
<!-- <app-client-questions></app-client-questions>-->
