<div class="box box--small">
  <!-- <div class="loading" *ngIf="loadingBox">
    <div class="loader"></div>
  </div> -->
  <div class="box-header">
    <h4>Fitness tracker</h4>
    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <a class="nav-link text-muted" disabled data-toggle="dropdown">
            <i class="material-icons text-muted md-18"></i>
          </a>
          <!-- <div class="dropdown-menu dropdown-menu-scale pull-right dark">
            <a class="dropdown-item" href="">Activities</a>
            <a class="dropdown-item" href="">Feed</a>
            <a class="dropdown-item" href="">Upload</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Settings</a>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center p-a-md" style="padding-top: 0px !important;">
    <br><br>
    <div style="    display: inline-flex;">
      <div style="    width: 150px;  position: relative;">
        <img src="../../assets/images/widgets/meter_start.png" style="   width: 100%; " *ngIf="finished == 0">
            <img src="../../assets/images/widgets/meter_goal.png" style="   width: 100%; " *ngIf="finished > 0">
        <span style="    position: absolute;
      bottom: 0px;
      left: 30px;
      color: white;">Step</span>
        <span style="    position: absolute;
      bottom: 0;
      width: 70px;
      right: 15px;
      color: white;">{{finished}} of {{total}}</span>
      </div>
    </div>


    <div class="text-center m-t">
      <a class="btn btn-sm success margin-0-12 m-y-xs" [routerLinkActive]="['active']" [routerLink]="['/board/u/program/filter/9/Fitness']" *ngIf="finished == 0"><i class="fa fa-plus-circle"></i> Start program</a>
        <a class="btn btn-sm danger margin-0-12 m-y-xs" [routerLinkActive]="['active']" [routerLink]="['/board/u/program/filter/9/Fitness']" *ngIf="finished > 0"><i class="fa fa-calendar-check-o"></i> Go to program</a>
    </div>

  </div>
</div>
