<div id="m" class="modal" #modalRef="bs-modal" [config]="{ show: false }" bsModal>
	<div class="modal-dialog animated fade-left modal-lg">
		<div class="" style="    display: flex;
    align-items: center;">


			<div class="bulma-datepicker is-undefined is-active padding-top-1rem" style="margin: 0 auto;     height: 31rem; margin-right: -85px;">
				<div class="bulma-datepicker-container has-header-bottom">

					<div class="datepicker">
						<div class="datepicker-nav">
							<button class="datepicker-nav-previous button is-small is-text" type="button" (click)="changeNavMonth(-1)" [disabled]="!canChangeNavMonth(-1)">
								<svg viewBox="0 0 50 80" xml:space="preserve">
									<polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
								</svg></button>
							<div class="datepicker-nav-month-year">
								<div class="datepicker-nav-month">{{navDate.format('MMMM')}}</div>
								&nbsp;
								<div class="datepicker-nav-year">{{navDate.format('YYYY')}}</div>
							</div>
							<button class="datepicker-nav-next button is-small is-text" type="button" (click)="changeNavMonth(1)" [disabled]="!canChangeNavMonth(1)"><svg viewBox="0 0 50 80" xml:space="preserve">
									<polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 "></polyline>
								</svg></button>
						</div>
						<div class="datepicker-body">
							<div class="datepicker-dates is-active">
								<div class="datepicker-weekdays">
									<div class="datepicker-date" *ngFor="let day of weekDaysHeaderArr">{{day}}</div>
								</div>
								<div class="datepicker-days">
									<div class="datepicker-date is-current-month" *ngFor="let day of gridArr" [class.is-disabled]="!day.available">
										<button *ngIf="day.value !== 0" class="date-item" [class.is-today]="day.today" (click)="selectDay(day)">{{day.value}}</button>
										<button *ngIf="day.value === 0" class="date-item"></button>
										<span class="badge-checkout" *ngIf="day.value !== 0 && day.activity == true"></span>
									</div>


								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="text-center padding-3rem">
					<button type="button" class="btn btn-light" name="button" (click)="modalRef.hide()"><i class="fa fa-times-circle"></i> Close calendar</button>
				</div>
			</div>

			<div class="sidebar__day">
				<div class="text-center box__day">
					<div style="padding: 1rem">
						<div class="pull-right">
							<h4 class="font-size-15 is-pointer" *ngIf="!viewForm" (click)="openForm()"><i class="fa fa-plus"></i></h4>

						</div>
						<span class="animated bounceIn">{{selectedDate.format('DD')}}</span>
						<h6 class="animated fadeIn date__label">{{selectedDate.format('dddd')}}, {{selectedDate.format('MMMM')}} {{selectedDate.format('YYYY')}}
						</h6>

						<div class="list__events" style="    height: 20rem;
    overflow: auto;">
							<ul>
								<li class="animated fadeInUp" *ngFor="let event of events;">
									<label class="md-check">
										<input type="checkbox" [checked]="event.state == 1" (change)="changeStatusOfEvent($event, event)" class="has-value">
										<i class="red-low"></i> <span> <strong>{{event.finished_at | date:'shortTime'}}</strong> - {{event.note}}</span>
									</label>
								</li>
							</ul>

							<div *ngIf="events.length == 0" class="">
								<div class="font-size-12">There are no events recorded for this date ...
									<button class="btn btn-sm red-low" (click)="openForm()"><i class="fa fa-calendar-check-o"></i> Create event</button>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="viewForm" style="    bottom: 0;
    position: fixed;
    width: 42%;
    height: 35rem;
    background-color: #1a0a38a6;
    z-index: 0;"></div>

					<div class="animated fadeIn text-left" *ngIf="viewForm" style="    bottom: 0;
    position: fixed;
    width: 42%;
    min-height: 11rem;
    background-color: #f7f7f7;
		    line-height: 0.5;    font-size: 12px;
    color: #1a3645;">
						<h4 class="font-size-15 is-pointer" *ngIf="viewForm" (click)="viewForm = false" style="    position: absolute;
    background-color: #f7f6f6;
    top: -20px;
    right: 12px;
    padding: 0.4rem;
    border-radius: 5px;
    color: #475663;
}"><i
							  class="fa fa-times"></i></h4>
						<div style="padding: 1rem;     padding-top: 1.5rem;">
							<h6>New event</h6><br>
							<div class="row" style="    margin-bottom: 15px;">
								<div class="col-md-6"><label>Date</label>
									<input type="date" name="date" [(ngModel)]="event.date" autofocus class="form-control animated fadeIn input-sm"></div>
								<div class="col-md-6"><label>Time</label>
									<input type="time" name="time" [(ngModel)]="event.time" class="form-control animated fadeIn input-sm"></div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Description</label>
									<input type="text" name="note" [(ngModel)]="event.note" class="form-control animated fadeIn input-sm">
									<hr>
									<button type="submit" class="btn btn-sm success margin-0-12 m-y-xs pull-right" (click)="saveEnvent()">Save <i class="fa fa-check-circle"></i></button>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
