<section class="plan-coverage-popup-wrapper">
    <div class="plan-coverage-popup">
        <div fxLayout="column" class="grade-plan" fxLayoutAlign="center center">
        
            <!-- <div class="header-background">
                <img class="image" src="assets/images/fitnut-experience.svg" alt="downgrade-icon" />
            </div> -->

            <div class="header-background">
                <svg width="186" height="210" viewBox="0 0 187 194" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M186.674 0H53.5713C23.942 0 0 25.0157 0 55.7602H133.103C162.64 55.7602 186.674 30.7445 186.674 0Z"
                        fill="#308AFF" />
                    <path
                        d="M119.435 70.1768H53.5713C23.942 70.1768 0 95.1924 0 125.937H65.8634C95.401 125.937 119.435 100.921 119.435 70.1768Z"
                        fill="#308AFF" />
                    <path d="M35.5919 193.635H0V140.262H51.278V177.308C51.1863 186.378 44.2147 193.635 35.5919 193.635Z"
                        fill="#308AFF" />
                    <image href="assets/images/army-green.png" alt="lady in army green top" width="200px" />
                </svg>
            </div>
        
            <div class="main">
                <h1 class="title"> Upgrade your Fitnuts experience! </h1>
        
                <p class="content">
                    Upgrade your membership today to access all Fitnuts has to offer. Additional workouts, wellness programs and
                    more!
                </p>
        
                <div class="action-button-container">
                    <button (click)="closeModal(true)" class="button button-primary">
                        I'M IN
                    </button>
                    <button (click)="closeModal(false)" class="button button-secondary">
                        NOT YET
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
