<div class="wrap">
  <div class="block">
    <div class="block-heading" (click)="showEnrollments = !showEnrollments" [ngClass]="{closed: !showEnrollments}">
      <span class="material-icons" *ngIf="!showEnrollments">chevron_right</span>
      <span class="material-icons" *ngIf="showEnrollments">expand_more</span>
      <p>Enrollments Summary </p>
    </div>

    <div class="block-data" [hidden]="!showEnrollments">
      <div class="column">
        <div class="field">
          <span class="field-name">Membership Type</span>
          <input type="text"
                 class="form-control disabled"
                 [(ngModel)]="user.client.membership.title">
        </div>

        <div class="field">
          <span class="field-name">VOD purchase</span>
          <input type="checkbox"
                 class="form-control fit disabled"
                 [(ngModel)]="enrollmentsSummary.vod_purchases">
        </div>

        <div class="field">
          <span class="field-name">VOD Free coupon</span>
          <input type="checkbox"
                 class="form-control fit disabled"
                 [(ngModel)]="enrollmentsSummary.vod_free_coupon">
        </div>

        <div class="field">
          <span class="field-name">Live package</span>
          <input type="checkbox"
                 class="form-control fit disabled"
                 [(ngModel)]="user.dont_call_again">
        </div>

        <div class="field">
          <span class="field-name">Live Free Session</span>
          <input type="checkbox"
                 class="form-control fit disabled"
                 [(ngModel)]="user.dont_call_again">
        </div>

        <div class="field">
          <span class="field-name">Cancel Membership</span>
          <input type="checkbox"
                 class="form-control fit disabled"
                 [(ngModel)]="enrollmentsSummary.cancel_membership">
        </div>
      </div>

      <div class="column">
        <div class="field">
          <span class="field-name">Next billing date</span>
          <span title="{{user.client.subscription_ends_at | date:'dd MMMM yyyy'}}">
            {{user.client.subscription_ends_at | date:'dd/MM/yyyy'}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-heading" (click)="showPurchases = !showPurchases" [ngClass]="{closed: !showPurchases}">
      <span class="material-icons" *ngIf="!showPurchases">chevron_right</span>
      <span class="material-icons" *ngIf="showPurchases">expand_more</span>
      <p>Purchases & Receipt</p>
    </div>

    <div class="block-data table-responsive" [hidden]="!showPurchases">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Product type</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Amount, $</th>
          <th scope="col">Paid, $</th>
          <th scope="col">Coupon</th>
          <th scope="col">Invoice number</th>
          <th scope="col">Status</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{(invoice.isVodProgram) ? 'VOD' : 'Membership'}}</td>
          <td>{{invoice.invoiceable.title}}</td>
          <td>{{invoice.updated_at | date:"dd/MM/yyyy"}}</td>
          <td>{{invoice.amount | currency:'USD':'':'1.0-2'}}</td>
          <td>{{invoice.paid_amount | currency:'USD':'':'1.0-2'}}</td>
          <td>{{(invoice.coupon) ? invoice.coupon.code : '-'}}</td>
          <td>#{{invoice.id | number : '4.0-0' | noComma}}</td>
          <td>{{invoice.status}}</td>
          <td class="text-center action-buttons">
            <i class="fa fa-print" (click)="printInvoice(invoice.id)"></i>
            <i class="fa fa-envelope m-l-sm" (click)="handleSendEmailBtnClick(invoice.id)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="block">
    <div class="block-heading" (click)="showBilling = !showBilling" [ngClass]="{closed: !showBilling}">
      <span class="material-icons" *ngIf="!showBilling">chevron_right</span>
      <span class="material-icons" *ngIf="showBilling">expand_more</span>
      <p>Billing Info</p>
    </div>

    <div class="block-data" [hidden]="!showBilling">
      <div class="column">
        <div class="field">
          <span class="field-name">Full Name</span>

          <div class="input-wrap">
            <input type="text"
                   class="form-control"
                   [(ngModel)]="user.name"
                   [ngClass]="{disabled: !editPersonal}"
                   [disabled]="!editPersonal">
            <input type="text"
                   class="form-control"
                   [(ngModel)]="user.last_name"
                   [ngClass]="{disabled: !editPersonal}">
          </div>
        </div>

        <div class="field">
          <span class="field-name">Email address</span>
          <input type="email"
                 class="form-control"
                 [(ngModel)]="user.email"
                 [ngClass]="{disabled: !editPersonal}"
                 [disabled]="!editPersonal">
        </div>

        <div class="field">
          <span class="field-name">Additional email</span>
          <input type="email"
                 class="form-control disabled"
                 [(ngModel)]="user.additional_email"
                 [disabled]="true">
        </div>

        <div class="field">
          <span class="field-name">Phone</span>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="user.phone"
                 [ngClass]="{disabled: !editPersonal}"
                 [disabled]="!editPersonal">
        </div>

        <div class="field">
          <span class="field-name">Country</span>
          <select class="form-control"
                  [ngClass]="{disabled: !editPersonal}"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="user.country"
                  (change)="handleCountryChange()"
                  (ngModelChange)="handleCountryChange()"
                  id="country">
            <option *ngFor="let country of countriesList" name="country" [value]="country.id">
              {{country.name}}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">City</span>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="user.city"
                 [ngClass]="{disabled: !editPersonal}"
                 [disabled]="!editPersonal">
        </div>

        <div class="field">
          <span class="field-name">Time zone</span>
          <input type="text"
                 class="form-control disabled"
                 [(ngModel)]="user.timezone"
                 [disabled]="true">
        </div>

        <div class="field">
          <span class="field-name">Current Time</span>
          <input type="text"
                 class="form-control disabled"
                 [(ngModel)]="user.local_time"
                 [disabled]="true">
        </div>
      </div>

      <div class="edit-buttons" *ngIf="editPersonal">
        <button class="btn btn-danger" (click)="editPersonal = false">Cancel</button>
        <button class="btn btn-primary" (click)="saveChanges()">Save</button>
      </div>

      <span class="edit" (click)="editPersonal = !editPersonal"><span class="material-icons">edit</span></span>
    </div>
  </div>
</div>

<app-send-email [email]="user.email" [userId]="user.id"></app-send-email>
