.watch-btn {
    background: #FFFFFF;
    border-radius: 35.0469px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182.08px;
    height: 55px;
    outline: none;
    color: white;
    transition: all .25s;
    border: 5px solid rgb(0, 167, 223);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.watch-btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    background: rgba(0, 167, 223, .8);
}

.play-icon {
    font-size: 9px;
    width: 10px;
}