
  <div class="box box-phrase">
    <div class="box-body" style="border: 2px dashed white;">
      <div class="motivation-frase">
        <blockquote>
          <p class="text-quote">
            <i class="fa fa-quote-left icon-left-motivate" style="font-style: italic;"></i>
            {{quote.phrase}}
              <i class="fa fa-quote-right icon-right-motivate" style="font-style: italic;"></i>
            <br>
            <small><strong style="font-style: initial;">{{quote.author}}</strong> </small>

          </p>
        </blockquote>
      </div>
    </div>

  </div>
