<div class="wrap">
  <div class="block">
    <div class="block-heading" (click)="showPersonal = !showPersonal" [ngClass]="{ closed: !showPersonal }">
      <span class="material-icons" *ngIf="!showPersonal"> chevron_right </span>
      <span class="material-icons" *ngIf="showPersonal"> expand_more </span>
      <p>Personal Information</p>
    </div>

    <div class="block-data" [hidden]="!showPersonal">
      <div class="column">
        <div class="field">
          <span class="field-name">Full Name</span>

          <div class="input-wrap">
            <input type="text" class="form-control" [(ngModel)]="user.name" [ngClass]="{ disabled: !editPersonal }"
              [disabled]="!editPersonal" />
            <input type="text" class="form-control" [(ngModel)]="user.last_name"
              [ngClass]="{ disabled: !editPersonal }" />
          </div>
        </div>

        <form [formGroup]="formEmails">
          <div class="field">
            <span class="field-name">Email address</span>
            <div fxLayout="column">
              <input type="email" class="form-control w-100" [formControl]="emailControl" [(ngModel)]="user.email"
                [ngClass]="{ disabled: !editPersonal }" [disabled]="!editPersonal"
                [class.input-error]="emailControl.errors && editPersonal" />
            </div>
          </div>

          <!-- <div class="field">
            <span class="field-name">Additional email</span>
            <div class="form-control disabled" *ngIf="!editPersonal">
              {{ user.additional_email ? user.additional_email : "None" }}
            </div>
            <input [formControl]="additionalEmailControl" *ngIf="editPersonal" type="email" class="form-control"
              [(ngModel)]="user.additional_email" [class.input-error]="additionalEmailControl.errors && editPersonal" />
          </div> -->
        </form>

        <div class="field">
          <span class="field-name">Phone</span>
          <input type="text" class="form-control" [(ngModel)]="user.phone" [ngClass]="{ disabled: !editPersonal }"
            [disabled]="!editPersonal" />
        </div>

        <div class="field">
          <span class="field-name">Country</span>
          <!--          <div fxLayout="row" fxLayoutAlign="none center">-->
          <!--            <span class="field-name fit-content" *ngIf="!editPersonal">{{userCountry}}</span>-->
          <select class="form-control" [ngModelOptions]="{ standalone: true }" [ngClass]="{ disabled: !editPersonal }"
            [(ngModel)]="user.country" (change)="prepareUserTimezone(true)" id="country">
            <option *ngFor="let country of countriesList" name="country" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">City</span>
          <input type="text" class="form-control" [(ngModel)]="user.city" [ngClass]="{ disabled: !editPersonal }"
            [disabled]="!editPersonal" />
        </div>

        <div class="field">
          <span class="field-name">Time zone</span>
          <select class="form-control" [ngModelOptions]="{ standalone: true }" [ngClass]="{ disabled: !editPersonal }"
            [(ngModel)]="user.timezone_by_country" id="timezone">
            <option *ngFor="let timezone of countryTimezones" name="country" [value]="timezone">
              {{ timezone }}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">Current Time</span>
          <input type="text" class="form-control disabled" [value]="user.local_time | date: 'hh:mm a'"
            [disabled]="true" />
        </div>

        <div class="field">
          <span class="field-name">Date of birth</span>
          <input type="text" class="form-control disabled" placeholder="Date Of Birth" name="date_birth"
            [(ngModel)]="user.date_birth" [matDatepicker]="$any(birthPicker)" [max]="maxDate" matInput disabled />
          <mat-datepicker-toggle matSuffix *ngIf="editPersonal" [for]="birthPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthPicker [disabled]="!editPersonal" [startAt]="startDate" startView="multi-year">
          </mat-datepicker>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <span class="field-name">Mailing Address</span>
          <div class="form-control disabled" *ngIf="!editPersonal">
            {{ user.address ? user.address : "None" }}
          </div>
          <input *ngIf="editPersonal" type="text" class="form-control" [(ngModel)]="user.address" />
        </div>

        <div class="field">
          <span class="field-name">Zip code</span>
          <div class="form-control disabled" *ngIf="!editPersonal">
            {{ user.zip ? user.zip : "None" }}
          </div>
          <input *ngIf="editPersonal" type="text" class="form-control" [(ngModel)]="user.zip" />
        </div>
      </div>

      <!--            <div class="column">-->
      <!--              <div class="field">-->
      <!--                <span class="field-name">Assigned AM</span>-->
      <!--                <select-->
      <!--                    class="form-control"-->
      <!--                    [ngClass]="{disabled: !editPersonal}"-->
      <!--                    [ngModelOptions]="{standalone: true}"-->
      <!--                    [(ngModel)]="user.manager_id"-->
      <!--                    id="am">-->
      <!--                  <option *ngFor="let manager of filters?.assigned_ams" [value]="manager.id">-->
      <!--                    {{manager.name}}-->
      <!--                  </option>-->
      <!--                </select>-->
      <!--              </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Account types</span>-->
      <!--          <select-->
      <!--              class="form-control"-->
      <!--              [ngClass]="{disabled: !editPersonal}"-->
      <!--              [ngModelOptions]="{standalone: true}"-->
      <!--              [(ngModel)]="user.client.membership.id"-->
      <!--              id="membership">-->
      <!--            <option *ngFor="let membership of filters?.memberships" [value]="membership.id">-->
      <!--              {{membership.title}}-->
      <!--            </option>-->
      <!--          </select>-->
      <!--        </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Sales Status</span>-->
      <!--          <select-->
      <!--              class="form-control"-->
      <!--              [ngClass]="{disabled: !editPersonal}"-->
      <!--              [ngModelOptions]="{standalone: true}"-->
      <!--              [(ngModel)]="user.status_id"-->
      <!--              id="status">-->
      <!--            <option *ngFor="let status of filters?.statuses" [value]="status.id">-->
      <!--              {{status.name}}-->
      <!--            </option>-->
      <!--          </select>-->
      <!--        </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Account company</span>-->
      <!--          <input-->
      <!--              type="text"-->
      <!--              class="form-control disabled"-->
      <!--              [(ngModel)]="user.account_company"-->
      <!--              [disabled]="true">-->
      <!--        </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Agree to Terms</span>-->
      <!--          <input-->
      <!--              type="checkbox"-->
      <!--              class="form-control fit"-->
      <!--              [ngClass]="{disabled: !editPersonal}"-->
      <!--              [(ngModel)]="user.is_agree_to_terms">-->
      <!--        </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Agree to emails</span>-->
      <!--          <input type="checkbox"-->
      <!--                 class="form-control fit"-->
      <!--                 [ngClass]="{disabled: !editPersonal}"-->
      <!--                 [(ngModel)]="user.is_agree_to_emails">-->
      <!--        </div>-->

      <!--        <div class="field">-->
      <!--          <span class="field-name">Dont call again</span>-->
      <!--          <input type="checkbox"-->
      <!--                 class="form-control fit"-->
      <!--                 [ngClass]="{disabled: !editPersonal}"-->
      <!--                 [(ngModel)]="user.dont_call_again">-->
      <!--        </div>-->
      <!--        <div class="field">-->
      <!--          <span class="field-name">Created date time</span>-->
      <!--          <span title="{{user.created_at | date:'dd MMMM yyyy HH:mm:ss a'}}">-->
      <!--            {{user.created_at | date:'dd/MM/yyyy hh:mm a'}}-->
      <!--          </span>-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="edit-buttons" *ngIf="editPersonal">
        <button class="btn btn-danger" (click)="cancelEditPersonal()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="savePersonalChanges()" [disabled]="emailControl.errors">
          Save
        </button>
      </div>

      <span class="edit" (click)="openEditPersonal()"><span class="material-icons">edit</span></span>
    </div>
    <div class="w-100 text-center mb-10" *ngIf="editPersonal && (emailControl.errors)">
      <span>You must fill all required fields</span>
    </div>
  </div>

  <div class="block">
    <div class="block-heading" (click)="showAddress = !showAddress" [ngClass]="{ closed: !showAddress }">
      <span class="material-icons" *ngIf="!showAddress"> chevron_right </span>
      <span class="material-icons" *ngIf="showAddress"> expand_more </span>
      <p>Membership Details</p>
    </div>

    <div class="block-data" [hidden]="!showAddress">
      <div class="column">
        <div class="field">
          <span class="field-name">Subscription</span>
          <input type="text" class="form-control disabled" [value]="membershipTitle" [disabled]="true" />
        </div>

        <div class="field">
          <span class="field-name">Subscription Date</span>
          <input type="text" class="form-control disabled" [value]="
              user.client.subscription_started_at
                ? (user.client.subscription_started_at | date: 'dd.MM.yyyy')
                : 'None'
            " [disabled]="true" />
        </div>

        <div class="field">
          <span class="field-name">Creation Date</span>
          <input type="text" class="form-control disabled" [value]="user.created_at | date:'d/M/yy, h:mm a'"
            [disabled]="true" />
        </div>

        <div class="field">
          <span class="field-name">Agreed to Terms</span>
          <input type="checkbox" class="form-control fit"
            [(ngModel)]="user.is_agree_to_terms" [ngClass]="{ disabled: !editMembership }" />
        </div>

        <div class="field">
          <span class="field-name">Agreed to Emails</span>
          <input type="checkbox" class="form-control fit"
            [(ngModel)]="user.is_agree_to_emails"  [ngClass]="{ disabled: !editMembership }"/>
        </div>

        <div class="field">
          <span class="field-name">Agreed to SMS</span>
          <input type="checkbox" class="form-control fit"
            [(ngModel)]="user.is_agree_to_emails"  [ngClass]="{ disabled: !editMembership }"/>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <span class="field-name">Assigned AM</span>
          <div class="form-control disabled" *ngIf="!editMembership">
            {{ user.manager_id ? user.manager?.name : "None" }}
          </div>
          <select *ngIf="editMembership" class="form-control" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="user.manager_id" id="am">
            <option *ngFor="let manager of filters?.assigned_ams" [value]="manager.id">
              {{ manager.name }}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">Sales Status</span>
          <div *ngIf="!editMembership" class="form-control disabled">
            {{ user.status_id ? user.status?.name : "None" }}
          </div>
          <select *ngIf="editMembership" class="form-control" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="user.status_id" id="status">
            <option *ngFor="let status of filters?.statuses" [value]="status.id">
              {{ status.name }}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">Upgrade Subscription</span>
          <div *ngIf="!editMembership" class="form-control disabled">
            {{
            user?.client.membership?.title
            ? user?.client.membership?.title
            : "None"
            }}
          </div>
          <select *ngIf="editMembership" class="form-control" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="selectedMembershipForUpgrade.membership_upgrade_id" id="subscription">
            <option *ngFor="let membership of availableMemberships" [value]="membership.id">
              {{ membership.title }}
            </option>
          </select>
        </div>

        <div class="field">
          <span class="field-name">Upgrade Start Date</span>
          <div class="form-control disabled" *ngIf="!editMembership">
            {{
            user.client.upgrade_starts_at
            ? user.client.upgrade_starts_at
            : "None"
            }}
          </div>
          <input [class.hidden]="!editMembership" type="text" class="form-control disabled"
            placeholder="Upgrade Starts At" name="upgrade_starts_at"
            [(ngModel)]="selectedMembershipForUpgrade.upgrade_starts_at" [matDatepicker]="$any(upgradeStart)"
            (dateChange)="changeMinEndDate($event)" [min]="maxDate" matInput disabled />
          <mat-datepicker-toggle matSuffix *ngIf="editMembership" [for]="upgradeStart"
            [disabled]="!selectedMembershipForUpgrade.membership_upgrade_id"></mat-datepicker-toggle>
          <mat-datepicker #upgradeStart [disabled]="!editMembership" [startAt]="startDate" startView="multi-year">
          </mat-datepicker>
        </div>

        <div class="field">
          <span class="field-name">Upgrade Expiration Date</span>
          <div class="form-control disabled" *ngIf="!editMembership">
            {{
            user.client.upgrade_ends_at
            ? user.client.upgrade_ends_at
            : "None"
            }}
          </div>
          <input [class.hidden]="!editMembership" type="text" class="form-control disabled"
            placeholder="Upgrade Ends At" name="upgrade_ends_at"
            [(ngModel)]="selectedMembershipForUpgrade.upgrade_ends_at" [matDatepicker]="$any(upgradeEnd)"
            [min]="minUpgradeDate" matInput disabled />
          <mat-datepicker-toggle matSuffix *ngIf="editMembership" [for]="upgradeEnd"
            [disabled]="!selectedMembershipForUpgrade.upgrade_starts_at"></mat-datepicker-toggle>
          <mat-datepicker #upgradeEnd [disabled]="!editMembership"
            [startAt]="selectedMembershipForUpgrade.upgrade_ends_at" startView="multi-year"></mat-datepicker>
        </div>

        <div class="edit-buttons" *ngIf="editMembership">
          <button class="btn btn-danger" (click)="editMembership = false">
            Cancel
          </button>
          <button class="btn btn-primary" [disabled]="
              selectedMembershipForUpgrade.membership_upgrade_id &&
              !selectedMembershipForUpgrade.upgrade_ends_at &&
              !selectedMembershipForUpgrade.upgrade_starts_at
            " (click)="saveMembershipChanges()">
            Save
          </button>
        </div>

        <span class="edit" (click)="cancelEditMembership()"><span class="material-icons">edit</span></span>
      </div>
      <div class="w-100 text-center mb-10" *ngIf="
          editMembership &&
          selectedMembershipForUpgrade.membership_upgrade_id &&
          !selectedMembershipForUpgrade.upgrade_ends_at &&
          !selectedMembershipForUpgrade.upgrade_starts_at
        ">
        <span>You must fill all upgrade subscription fields</span>
      </div>
    </div>

    <div class="block">
      <div class="block-heading" (click)="showMarketing = !showMarketing" [ngClass]="{ closed: !showMarketing }">
        <span class="material-icons" *ngIf="!showMarketing">
          chevron_right
        </span>
        <span class="material-icons" *ngIf="showMarketing"> expand_more </span>
        <p>Marketing Information</p>
      </div>

      <div class="block-data" [hidden]="!showMarketing">Marketing data</div>
    </div>

    <div class="block">
      <div class="block-heading" (click)="showCommunication = !showCommunication"
        [ngClass]="{ closed: !showCommunication }">
        <span class="material-icons" *ngIf="!showCommunication">
          chevron_right
        </span>
        <span class="material-icons" *ngIf="showCommunication">
          expand_more
        </span>
        <p>Communication Complaince</p>
      </div>

      <div class="block-data" [hidden]="!showCommunication">
        <div class="column">
          <div class="field">
            <span class="field-name">Email Opt In</span>

            <input type="checkbox" class="form-control fit" [ngClass]="{ disabled: !editPersonal }"
              [(ngModel)]="user.is_agree_to_emails" />

            <div *ngIf="user.is_agree_to_emails">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="field-name">
                {{ user.opt_datetime | date:'d/M/yy, h:mm a'  }}
              </span>
            </div>

          </div>

          <div class="field">
            <span class="field-name">Email Opt Out</span>

            <input type="checkbox" class="form-control fit" [ngClass]="{ disabled: !editPersonal }"
              [(ngModel)]="!user.is_agree_to_emails" />

            <div *ngIf="!user.is_agree_to_emails">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="field-name">
                {{ user.opt_datetime | date:'d/M/yy, h:mm a' }}
              </span>
            </div>

          </div>

          <div class="field">
            <span class="field-name">Do not call again</span>
            <input type="checkbox" class="form-control fit" [(ngModel)]="user.dont_call_again"
              (change)="dontCallAgain()" />
          </div>

        </div>

      </div>
    </div>
  </div>
</div>