<div class="wrap">
    <div class="block">
        <div class="block-heading" (click)="showLogs = !showLogs" [ngClass]="{closed: !showLogs}">
            <span class="material-icons" *ngIf="!showLogs">
                chevron_right
            </span>
            <span class="material-icons" *ngIf="showLogs">
                expand_more
            </span>
            <p>Activities logs</p>
        </div>
        <div class="block-data" [hidden]="!showLogs">
            Activities data
        </div>
    </div>

    <div class="block">
        <div class="block-heading" (click)="showVideo = !showVideo" [ngClass]="{closed: !showVideo}">
            <span class="material-icons" *ngIf="!showVideo">
                chevron_right
            </span>
            <span class="material-icons" *ngIf="showVideo">
                expand_more
            </span>
            <p>Video</p>
        </div>
        <div class="block-data" [hidden]="!showVideo">
            Video data
        </div>
    </div>

    <div class="block">
        <div class="block-heading" (click)="showService = !showService" [ngClass]="{closed: !showService}">
            <span class="material-icons" *ngIf="!showService">
                chevron_right
            </span>
            <span class="material-icons" *ngIf="showService">
                expand_more
            </span>
            <p>Customer Service </p>
        </div>
        <div class="block-data" [hidden]="!showService">
            Customer Service data
        </div>
    </div>
</div>
