.header-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.leftside-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 227px;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  z-index: 12;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0.1rem 10px 0.1rem 0.1rem;
  overflow-x: hidden;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.leftside-bar-info {
  width: 100%;
  height: auto;
  padding: 5% 30px;
}

.leftside-bar-user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100%;
}

.leftside-bar-user-name {
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #4a6288;
  text-align: left;
}

.leftside-bar-user-dbth {
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 10px;
  color: #4a6288;
  text-align: left;
}

.leftside-bar-info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftside-bar-user {
  margin-left: 14px;
}

.fl-start {
  justify-content: flex-start;
}

.leftside-bar-hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  border: none;
}

.leftside-bar-user-param {
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #4a6288;
  text-align: center;
}

.leftside-bar-user-param-span {
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 600;
  color: #4a6288;
  text-align: center;
}

.leftside-bar-user-meter {
  margin-bottom: 0;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  color: #a2aab7;
  text-align: center;
}

.leftside-bar-nav-list {
  list-style: none;
  padding-inline-start: 0;
  color: #4a6288;
}

.leftside-bar-nav-li,
.leftside-bar-nav-subli {
  margin: 10px 20px 10px 0;
  padding: 12px 5px 12px 30px;
  border-left: 2px solid transparent;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.leftside-bar-nav-subli {
  padding: 5px 5px 5px 55px;
}

.leftside-bar-nav-li:hover,
.leftside-bar-nav-subli:hover,
.active-li {
  border-left: 2px solid #00a7df;
  background-color: #f8fdff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #00a7df;
}

.nav-list-item {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  margin: 0 20px;
}

.nav-list-item-icon {
  display: flex;
  width: fit-content;
  align-items: center;
}

.nav-list-item-icon svg {
  max-width: 15px;
  max-height: 15px;
  width: 15px;
}

/*----------Topside Bar---------*/
.topside-bar {
  position: fixed;
  top: 0;
  left: 227px;
  width: calc(100% - 227px);
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f5f9;
  z-index: 12;
}

.topside-bar-title {
  width: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-align: left;
  text-transform: capitalize;
  color: #1e3f5c;
}

.topside-bar-options {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.topside-bar-search {
  width: 50%;
  height: 45px;
  margin-right: -55px;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in 300ms;
  border-radius: 3px;
  border: solid 1px #4a6288;
  background: #f4f6f9;
}

.topside-bar-input {
  width: 80%;
  height: 43px;
  border: none;
  background: transparent;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  color: #4a6288;
}

input.topside-bar-input::placeholder {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  color: #8b95a5;
}

.topside-bar-menu {
  display: none;
}

.topside-bar-options-item {
  position: relative;
  cursor: pointer;
}

.topside-bar-options-item svg {
  width: 20px;
  margin-left: 25px;
  color: #d5d5d5;
}

.svg-search-active svg {
  color: #4a6288;
}

.topside-bar-options-item svg:hover,
.svg-option-active svg {
  color: #4a6288;
}

.options-item-badge {
  position: absolute;
  top: 0;
  right: -1px;
  width: 8px;
  height: 8px;
  border: solid 1px #f4f5fa;
  border-radius: 100%;
  background-color: #00a7df;
}

.plan-info {
  margin: 90px 20px 20px;
  background: linear-gradient(180deg, #00a7df 0%, #00dfc1 100%);
  padding: 20px;
  font-family: Montserrat, sans-serif;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan-info-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.plan-info-img {
  margin: 15px 0;
  width: 105px;
}

.plan-name {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}

.plan-price {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  margin: 15px 0;
}

.plan-info-btn {
  outline: none;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 12px;
  background: transparent;
  transition: all 0.25s;
}

.plan-info-btn:hover {
  transform: scale(1.05);
}

/* ------------------------------------------- */
::-webkit-scrollbar {
  width: 5px;

  background-color: #e5e9ec;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #00a7df;
}

/*--------------Old design--------------*/
.navbar-brand {
  margin: 0;
}

.sidenavbordor {
  width: 90px;
}

#side_navbox.opening .sidenavbordor {
  width: 240px;
}

.notificationbadge {
  padding: 0.5em;
}

.leftside-bar-logo {
  display: block;
  margin: 40px auto 30px;
}

/*
@Tornado
*/

.topside_bar {
  position: fixed;
  top: 0px;
  width: calc(100% - 227px);
  height: 70px;
  display: flex;
  left: 227px;
  padding: 0px 18px;
  align-items: center;
  display: flex;
  z-index: 12;
  background: #f4f5f9;

}

.topside_icon_containter {
  display: none;
}

.topside_title_container {
  width: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-align: left;
  text-transform: capitalize;
  color: #1e3f5c;
}

.email-container{
  margin: 37px;
}

.support-section {
  margin-top: 20vh;
}

/*Media query for mobile*/
@media only screen and (max-width: 720px) {
  .leftside-bar {
    width: 0px;
    top: 10%;
    height: 90%;
  }

  .leftside-bar.leftside-bar-display {
    width: 60%;
    transition: width 250ms linear;
  }

  .topside-bar {
    left: 0px;
    width: 100%;
    /* height: 10%; */
    padding: 0px 20px;
  }

  /* .topside-bar */

  .topside-bar-title {
    font-size: 1rem;
  }

  .topside-bar-options {
    width: auto;
  }

  .topside-bar-menu {
    display: flex;
    justify-content: flex-start;
  }

  .topside-bar-menu-button {
    border: none !important;
    background-color: transparent;
  }

  .topside-bar-menu-button-close {
    display: none;
  }

  .uil {
    font-size: 20px;
  }

  /*@Tornado*/
  .topside_bar {
    width: 100%;
    display: flex;
    padding: 0px 18px;
    position: fixed;
    top: 0;
    align-items: center;
    left: 0px;
  background: #f4f5f9;

  }

  .topside_icon_containter {
    width: fit-content;
    margin-right: 64px;
    display: flex;
  }

  .topside_title_container {
    font-size: 18px;
    color: #1e3f5c;
    font-weight: 700;
    font-family: Montserrat;
  }
}

#bottom {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 641px) {
  #bottom {
    position: relative;
  }
}