.md-form-group {
    padding: 0px 0 10px;
    position: relative;
}

#program .modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  overflow: auto;
}

.questionnaire-progress {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 6px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.questionnaire-progress .done {
  height: 100%;
  background: #12B6E7;
  border-radius: 20px 0 0 20px;
  transition: all .5s;
}

.questionnaire-progress .current {
  width: 24px;
  height: 24px;
  background: #12B6E7;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  color: #FFFFFF;
  margin-left: -12px;
}

#program .modal-dialog {
  min-width: 100%;
}

#program .modal-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  width: 100%;
  min-height: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
  border: none;
}

#program .modal-body {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  padding: 20px 4%;
  overflow: auto;
}

.questionnaire-subheading {
  color: #12B6E7;
  font-size: 24px;
}

.questionnaire-heading {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 40px;
}

.questionnaires-logo {
  margin-bottom: 40px;
}

.btn-next {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  background: transparent;
  padding: 5px 40px !important;
}

.btn-prev {
  background: transparent;
  padding: 5px 0 5px 17px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.btn-prev:hover {
  background: transparent;
  opacity: .75;
}

.btn-prev:before {
  content: url("../../../../../assets/images/icons/arrow-left.svg");
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 50%
}

.label-question {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.label-question.text-left {
  justify-content: flex-start;
}

.input-center {
  text-align: center;
}

.form-group-wrap {
  display: flex;
  flex-direction: column;
}

.form-group-wrap .radio {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-group-wrap .ui-check {
  width: 70%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 1px solid #6C6C6C;
  color: #FFFFFF;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.radio input[type='radio'] + span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.radio input[type='radio']:checked + span {
  background: rgba(18, 182, 231, 0.7);
}

.questionnaire-question {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-description {
  font-size: 14px;
  margin-top: 16px;
}

.include {
  color: #00C637;
}

.exclude {
  color: #FF0000;
}

.check-block .include-check,
.check-block .exclude-check {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  position: relative;
  margin: 0;
}

.check-block .include-check img,
.check-block .exclude-check img {
  display: none;
}

.check-block .include-check:before,
.check-block .exclude-check:before {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.check-block .include-check:before {
  content: url("../../../../../assets/images/icons/include.svg");
}

.check-block .exclude-check:before {
  content: url("../../../../../assets/images/icons/exclude.svg");
}

.check-block .include-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-block .ui-check{
  border: none;
  background: none;
  display: flex;
}

.check-block label {
  margin: 0;
  line-height: 25px;
  padding: 5px;
}

.check-block input[type='radio']:checked + span:before {
  display: initial;
}

.checkbox-line {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.checkbox-line label.ui-check {
  margin: 0;
  width: 100%;
  padding-right: 40px;
  padding-left: 15px;
  line-height: 22px;
  text-align: left;
}

.checkbox-line .q-check{
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: #616161;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: flex;
}

.checkbox-line.checkbox-label .q-check {
  position: relative;
  top: initial;
  left: initial;
  transform: none;
  margin-right: 20px;
}

.q-check:before {
  position: absolute;
  top: 5px;
  left: 3px;
  content: url("../../../../../assets/images/icons/tick_white.svg");
  display: none;
}

.checkbox-line input[type='checkbox']:checked + .q-check {
  background: #00C637;
}

.checkbox-line input[type='checkbox']:checked + .q-check:before {
  display: initial;
}

.row-centered {
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
}

.list li {
  padding-left: 10px;
  position: relative;
}

.list li:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #12B6E7;
  left: 0;
  top: 8px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputs input{
  width: calc((100% - 20px) / 2);
  background: rgba(0, 0, 0, .6);
  border: 1px solid #6C6C6C;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  color: #FFFFFF;
}

.checkbox-label {
  display: flex;
  align-content: center;
  font-weight: 600;
}

.checkbox-label input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.list-checked {
  margin-bottom: 24px;
  padding-left: 30px;
  list-style-type: none;
}

.list-checked li {
  padding: 5px 5px 5px 30px;
  position: relative;
}

.list-checked li:before {
  position: absolute;
  content: url("../../../../../assets/images/icons/tick_blue.svg");
  left: 0;
  top: 6px;
}
