/* ------------Tracker container------------- */
.tracker-container {
  width: 100%;
  height: auto;
  min-height: 360px;
  margin: 0;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: url('../../../../../assets/images/water/water-tracker.png'), linear-gradient(222deg, #00a7df, #a2e8ff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------Tracker header------------- */
.tracker-header {
  width: 100%;
  text-align: center;
}

.tracker-icon-container {
  width: 90px;
  height: 90px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(250, 250, 250, .35);
}

.tracker-icon-container span svg {
  height: 45px;
  color: #ffffff;
}

.tracker-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.tracker-graph {
  font-family: Montserrat;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

.tracker-separate-line {
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background-color: #f4f5f9;
}
/* ------------Tracker content------------- */
.tracker-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 20px;
}

.tracker-measurement {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.tracker-measurement p {
  margin-bottom: 0;
}

::ng-deep span.irs-line {
  height: 8px;
  opacity: 0.37;
  border-radius: 74px;
  cursor: pointer;
}

::ng-deep span.irs-bar-edge,
::ng-deep span.irs-bar {
  height: 8px;
  background: #e5f8ff !important;
  cursor: pointer;
}

::ng-deep span.irs-bar-edge {
  width: 8px;
  border-radius: 74px;
}

::ng-deep span.irs-slider.single {
  top: 33px;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 74px;
  background: #e5f8ff !important;
  box-shadow: none;
}
/* ------------Tracker footer------------- */
.tracker-footer {
  width: 100%;
}

.tracker-footer-btn {
  width: 100%;
  height: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #e5f8ff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #00a7df;
  text-transform: capitalize;
}

.tracker-footer-btn:hover {
  opacity: 0.7;
}

.tracker-btn-icon svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}



/* .water-tracker-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.water-tracker-widget {
  position: relative;
  width: 58px;
  height: 58px;
  flex: none;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}

.water-tracker-widget img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.water-tracker-title {
  margin: 0 2%;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  text-transform: capitalize;
}

.water-tracker-tool {
  width: 20%;
  text-align: right;
  align-self: flex-start;
  font-size: 19px;
  color: #FFFFFF;
}
/* ---------------------------- */
/* .water-tracker-content {
  width: 100%;
  min-height: 175px;
  margin: 5% 0;
}

.water-tracker-graph-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.water-tracker-graph {
  font-family: Roboto;
  font-size: 16px;
  color: #FFFFFF;
}

.water-tracker-numb {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #FFFFFF;
}

.water-tracker-subgraph {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: right;
  color: #FFFFFF;
}

.water-tracker-hours {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.water-tracker-hours input{
  max-width: 50%;
  background: transparent;
  border: transparent;
  font-size: 33px;
  color: #FFFFFF;
}

.water-tracker-hours span{
  margin-bottom: 5px;
  font-size: 27px;
  color: #FFFFFF;
  opacity: 0.59;
}

::ng-deep div.water-tracker-content span.irs-slider.single {
  background: #25D8F3 !important;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.water-tracker-footer {
  text-align: center;
}

.water-tracker-btn {
  width: calc(155/360*100%);
  min-height: 35px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 18px;
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.water-tracker-btn:hover {
  opacity: 0.75;
} */ 

/* ---------------------------------- */

/* .wellness-plan-box {
  color: #FFFFFF;
  background: linear-gradient(180deg, #11B4E5 0%, #27DBF4 100%);
  box-shadow: 0 4px 15px rgba(20, 185, 231, 0.72) !important;
}

.water-level-input {
  background: transparent;
  color: #FFFFFF;
}

.wellness-plan-box h4:before {
  background-image: url("../../../../../assets/images/icons/water-drop.svg");
} */
