<div
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="!loader"
  class="cancel-plan"
>
  <h4 class="cancel-plan__head text-center">
    {{ (planCanceled ? "cancel-plan.confirm" : "cancel-plan.cancel") | translate }}
  </h4>
  <p class="cancel-plan__subhead">We are sorry to see you leaving</p>
    <mat-icon [svgIcon]="'cancel-plan'" class="w-100 h-100"></mat-icon>
<!--  <img src="../../../../../assets/images/cancel-plan.svg" alt="Leaving?" />-->
  <p class="cancel-plan__text" *ngIf="!planCanceled">
    Once you cancel, your account will remain active until your <br />
    billing period ends on
    <span class="bold">{{
      user.client.subscription_ends_at | date: "dd MMMM, yyyy"
    }}</span
    >. After that, you won’t be <br />
    able to use Fitnuts the same. We will reach out to say goodbye!
  </p>

  <p class="cancel-plan__text" *ngIf="planCanceled">
    Plan canceled successfully <br />
    after
    <span class="bold">{{
      user.client.subscription_ends_at | date: "dd MMMM, yyyy"
    }}</span
    >. your plan will be changed to "Free user" <br />
  </p>

  <div class="button-wrap" *ngIf="!planCanceled">
    <button class="btn btn-default" (click)="cancelPlan()">Cancel</button>
    <button class="btn btn-primary" (click)="closeModal()">I`m staying!</button>
  </div>
</div>

<div class="loader" *ngIf="loader"></div>
