<div id="m-b-b" class="modal in" data-backdrop="false" style="display: block;"
     #modalRef="bs-modal" *ngIf="isModal" [config]="{ show: true }" (onHidden)="hideModal()" bsModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="loader" *ngIf="loader"></div>
      <div class="wrapper" *ngIf="!loader">
        <div class="header">
          <h3 class="heading">Create new lead</h3>
          <span class="close" (click)="hideModal()"><i class="material-icons sort-icon">close</i></span>
        </div>
        <div class="new-lead-form">
          <div class="form-row">
            <div class="field half">
              <label for="first_name">First Name</label>
              <input
                      type="text"
                      class="form-control input-sm"
                      name="first_name"
                      id="first_name"
                      [(ngModel)]="formFields.name"
                      placeholder="Name"
              >
              <span class="form-control-error" *ngIf="!formFields.name && touched">
                  Please fill name
              </span>
            </div>
            <div class="field half">
              <label for="last_name">Last Name</label>
              <input
                      type="text"
                      class="form-control input-sm"
                      name="last_name"
                      id="last_name"
                      [(ngModel)]="formFields.last_name"
                      placeholder="Surname"
              >
              <span class="form-control-error" *ngIf="!formFields.last_name && touched">
                Please fill surname
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="field half">
              <label for="last_name">Gender</label>
              <div class="radio">
                <div class="form_radio">
                  <input id="gender-m" type="radio" name="gender" value="M" [(ngModel)]="formFields.gender">
                  <label for="gender-m">Male</label>
                </div>
                <div class="form_radio">
                  <input id="gender-f" type="radio" name="gender" value="F" [(ngModel)]="formFields.gender">
                  <label for="gender-f">Female</label>
                </div>
              </div>
            </div>
            <div class="field half">
              <div class="form-controls">
                <label for="date_birth">Date Of Birth</label>
                <div class="mat-datepicker-input">
                  <input type="text" class="form-control input-sm"
                         placeholder="Date Of Birth"
                         required="" name="date_birth" #date_birth="ngModel"
                         id="date_birth"
                         [(ngModel)]="formFields.date_birth"
                         [matDatepicker]="picker"
                         [max]="maxDate"
                         matInput
                         disabled
                  >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker
                          #picker
                          disabled="false"
                          [startAt]="startDate"
                          startView="multi-year"
                  ></mat-datepicker>
                </div>

                <span class="form-control-error" *ngIf="!formFields.date_birth && touched">
                  Please fill date of birth
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="field half">
              <label for="email">Email </label>
              <input
                      #email
                      type="email"
                      class="form-control input-sm"
                      name="email"
                      id="email"
                      [(ngModel)]="formFields.email"
                      placeholder="Enter email"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
                      (input)="verifyEmail(email.value)"
              >
              <span class="form-control-error" *ngIf="!formFields.email && touched">
                Please fill email
              </span>
              <span class="form-control-error" *ngIf="mailExist">
                The entered email is registered
              </span>
            </div>
            <div class="field half">
              <label for="phone">Phone number </label>
              <input type="text"
                     class="form-control input-sm"
                     ng2TelInput
                     placeholder="Phone Number"
                     required="" name="phone" id="phone" #phone
                     (input)="verifyPhone(phone.value)"
                     (countryChange)="onCountryChange($event)"
                     [(ngModel)]="formFields.phone"
                     [ngModelOptions]="{standalone: true}"
                     (intlTelInputObject)="telInputObject($event)"
              />
              <span class="form-control-error" *ngIf="!formFields.phone && touched">
                Please fill phone
              </span>
              <span class="form-control-error" *ngIf="phoneExist">
                The entered phone is registered.
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="field half">
              <label for="country">Country</label>
              <ng-select
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="formFields.country"
                      (change)="handleCountryChange()"
                      (ngModelChange)="handleCountryChange()"
                      id="country"
              >
                <ng-option *ngFor="let country of countriesList" name ="country" [value]="country.id" >
                  {{country.name}}
                </ng-option>
              </ng-select>
              <span class="form-control-error" *ngIf="!formFields.country && touched">
                Please fill country
              </span>
            </div>
            <div class="half-flex">
                <div class="field city">
                    <label for="city">City</label>
                    <input
                            type="text"
                            class="form-control input-sm"
                            name="city"
                            id="city"
                            [(ngModel)]="formFields.city"
                            placeholder="City"
                    >
                    <span class="form-control-error" *ngIf="!formFields.city && touched">
                        Please fill zip
                      </span>
                </div>
                <div class="field zip">
                    <label for="zip">Zip</label>
                    <input
                            type="text"
                            class="form-control input-sm"
                            name="zip"
                            id="zip"
                            [(ngModel)]="formFields.zip"
                            placeholder="Zip"
                    >
                    <span class="form-control-error" *ngIf="!formFields.zip && touched">
                      Please fill zip
                    </span>
                </div>
            </div>
          </div>
          <div class="form-row" *ngIf="needTimezone">
            <div class="field half">
              <label for="country">Timezone</label>
              <ng-select
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="formFields.timezone"
                      id="timezone"
              >
                <ng-option *ngFor="let timezone of countryTimezones" name ="country" [value]="timezone" >
                  {{timezone}}
                </ng-option>
              </ng-select>
              <span class="form-control-error" *ngIf="!formFields.timezone && touched">
                Please fill timezone
              </span>
            </div>
          </div>
        </div>
        <button class="save-btn" (click)="handleSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>
