<div class="mycalendar-container">

    <div class="mycalendar-open">
        <div class="bulma-datepicker is-undefined is-active " >
            <div class="bulma-datepicker-container has-header-bottom">

                <div class="datepicker">
                    <div class="datepicker-nav">
                        <div class="datepicker-nav-month-year">
                            <div class="datepicker-nav-month">
                                {{navDate.format('MMMM')}}
                            </div>
                            &nbsp;
                            <div class="datepicker-nav-year">
                                {{navDate.format('YYYY')}}
                            </div>
                        </div>

                        <button class="datepicker-nav-previous button is-small is-text" type="button" (click)="changeNavMonth(-1)" [disabled]="!canChangeNavMonth(-1)">
                            <svg viewBox="0 0 50 80" xml:space="preserve">
                                                    <polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
                                                </svg>
                        </button>

                        <button class="datepicker-nav-next button is-small is-text" type="button" (click)="changeNavMonth(1)" [disabled]="!canChangeNavMonth(1)">
                            <svg viewBox="0 0 50 80" xml:space="preserve">
                                                    <polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 "></polyline>
                                                </svg>
                        </button>
                    </div>

                    <div class="datepicker-body">
                        <div class="datepicker-dates is-active">
                            <div class="datepicker-weekdays">
                                <div class="datepicker-date" *ngFor="let day of weekDaysHeaderArr">{{day}}</div>
                            </div>
                            <div class="datepicker-days">
                                <div class="datepicker-date is-current-month" *ngFor="let day of gridArr" [class.is-disabled]="!day.available">
                                    <button *ngIf="day.value !== 0" class="date-item" [class.is-today]="day.today" (click)="selectDay(day)">{{day.value}}</button>
                                    <button *ngIf="day.value === 0" class="date-item"></button>
                                    <span class="badge-checkout" *ngIf="day.value !== 0 && day.activity == true"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mycalendar-events">
        <p class="mycalendar-events-graph">Create An Event</p>
        <img src="../../../../../../../assets/images/myCalendar/mycalendar_event.png" alt="mycalendar_event" class="mycalendar-events-img">
        <div class="mycalendar-events-info" *ngIf="eventsInfo">
            <p class="mycalendar-events-date-numb">{{selectedDate | date: 'd'}}</p>
            <p class="mycalendar-events-date">{{selectedDate | date: 'EEEE, MMMM y'}}</p>
        </div>
        <div class="events-list-container" *ngIf="eventsInfo">
            <ul class="events-list">
<!--                <li class="animated fadeInUp" *ngFor="let event of events;">-->
<!--                    <label class="md-check">-->
<!--                        <input type="checkbox" [checked]="event.state == 1" (change)="changeStatusOfEvent($event, event)" class="has-value">-->
<!--                        <i class="red-low"></i> <span> <strong>{{event.finished_at | date:'shortTime'}}</strong> - {{event.note}}</span>-->
<!--                    </label>-->
<!--                </li>-->
                <li class="animated fadeInUp" *ngFor="let event of events;">
                    <label class="label-checkbox">
                        <input type="checkbox" [checked]="event.state == 1" (change)="changeStatusOfEvent($event, event)" class="has-value">
                        <span class="checkmark"></span>
                        <span [ngClass]="{'event-done': event.state == 1}"> <strong>{{event.finished_at | date:'shortTime'}}</strong> - {{event.note}}</span>
                    </label>
                </li>
            </ul>

            <p *ngIf="events.length == 0" class="mycalendar-events-graph">There are no events recorded for this date</p>
        </div>

        <button class="mycalendar-events-btn" *ngIf="eventsInfo" (click)="eventsInfo = false; eventsCreate = true; openForm()">
            +  Create an event
        </button>

        <div class="mycalendar-events-create" *ngIf="eventsCreate">
            <p class="mycalendar-events-date">New event</p>

            <form action="">
                <div class="row" style="    margin-bottom: 15px;">
                    <div class="col-md-6">
                        <label class="events-create-label">Date</label>
                        <input type="date" name="date" [(ngModel)]="event.date" autofocus class="form-control events-form-control animated fadeIn input-sm">
                    </div>
                    <div class="col-md-6">
                        <label class="events-create-label">Time</label>
                        <input type="time" name="time" [(ngModel)]="event.time" class="form-control events-form-control animated fadeIn input-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="events-create-label">Description</label>
                        <input type="text" name="note" [(ngModel)]="event.note" class="form-control events-form-control animated fadeIn input-sm">
                    </div>
                </div>
                <div class="events-create-submit">
                    <button class="mycalendar-events-btn-cancel" (click)="eventsInfo = true; eventsCreate = false">
                        <span class="btn-cancel">×</span>
                        Cancel
                    </button>
                    <button class="mycalendar-events-btn-save" (click)="saveEnvent()">
                        <span class="btn-save">✓</span>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
