<div class="app-header navbar-md dark box-shadow">
  <div class="navbar"><a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-a-0 m-l" style="padding-top: 1rem;"><i class="material-icons"></i></a><a class="navbar-brand"><img src="../../../assets/images/logo-fit-new.png"
        alt="" [routerLink]="['/home']" class=""> <span class="hidden-folded inline"></span></a>
    <ul class="nav navbar-nav pull-right">

      <li class="nav-item dropdown">
        <a class="nav-link paddding-top-5" (click)="openChat()">
          <span class="label rounded danger pos-rlt text-sm m-r-xs label-count" style="left: 24px; top: -25px;" *ngIf="pendings > 0">
            <b class="arrow bottom b-danger pull-in"></b>{{pendings}}
          </span>
          <i class="material-icons">question_answer</i>
        </a>
      </li>


      <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle clear" data-toggle="dropdown"><span class="avatar w-32"><img src="{{user.profile_image.public_url}}" alt="..."> </span></a>
        <div class="dropdown-menu pull-right dropdown-menu-scale">
      <a class="dropdown-item" (click)="logout()">Sign out</a>
        </div>
      </li>
    </ul>


    <div class="collapse navbar-toggleable-sm" id="navbar-4" data-pjax="">
      <form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">
        <div class="form-group l-h m-a-0">
          <div class="input-group"></div>
        </div>
      </form>
      <ul class="nav navbar-nav pull-left nav-active-border b-primary">
        <li class="nav-item"><a [routerLink]="['/board/t/dash']" [routerLinkActive]="['active']" class="nav-link" ui-sref-active="active"><span class="nav-text">Dashboard</span></a></li>
          <li class="nav-item"><a (click)="showCalendar()" class="nav-link" ui-sref-active="active"><span class="nav-text">Calendar</span></a></li>


      </ul>
    </div>
  </div>
</div>


<app-user-calendar></app-user-calendar>
