<div>
  <div class="text-left" style="    padding: 1rem;
  background-color: #f6feff;
  margin-top: 0rem;
  border-bottom: 1px solid #eeeff0;">
    <label>

      Show data in a range of: </label>
    <form [formGroup]="form" class="form-inline" (ngSubmit)="getDataReports()">

      <div class="form-group" style="margin-right: 0.5rem;">
        <label for=""><strong>From</strong></label>
        <div class="input-group">

          <input class="form-control input-sm" type="date" formControlName="from" name="from">
        </div>
      </div>
      <div class="form-group" style="margin-right: 0.5rem;">
        <label for=""><strong>To</strong></label>
        <div class="input-group">
          <input class="form-control input-sm" type="date" formControlName="to" name="to">
        </div>
      </div>
      <button type="submit" class="btn danger btn-sm" style="    margin-top: 1.9rem;"><i class="fa fa-search"></i> Search</button>
    </form>
  </div>

  <br><br>
  <div class="text-center">
    <h6> <i class="fa fa-bed"></i> Sleep Tracker</h6>
    <div class="">
      <span>Recommended sleep hours
        <span class="label rounded dark pos-rlt text-sm m-r-xs"><b class="arrow bottom b-dark pull-in"></b>{{SleepRecommended}}</span>
      </span>
    </div>
    <br>
    <ngx-charts-line-chart  [results]="dataSleep" [xAxis]="true" [yAxis]="true" [scheme]="colorScheme" schemeType="linear" [legend]="true" [gradient]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [showRefLines]="true"
      [autoScale]="true" [referenceLines]="refSleep">
    </ngx-charts-line-chart>
  </div>
  <hr>
  <br>
  <div class="text-center">
    <h6> <i class="fa fa-glass"></i> Water Tracker</h6>
    <div class="text-center">
      <span style="    display: block;">Water consumption recommended
        <span class="label rounded dark pos-rlt text-sm m-r-xs"><b class="arrow bottom b-dark pull-in"></b>{{recommendedWater}} {{measurement}}</span>
      </span>

      <div class="pull-right">
        <p style="border: 1px solid #e6e6e6; border-radius: 5px; padding: 7px;">
          <label class="md-switch pos-relative">
            <input type="checkbox" value="" name="type" class="has-value" (change)="reportInOunces($event)" [checked]="measurement == 'oz'">
            <i class="green"></i>
            <small>In ounces</small>
          </label>
        </p>
      </div>
    </div>
    <br>
    <ngx-charts-line-chart [results]="dataWater" [xAxis]="true" [yAxis]="true" scheme="air" schemeType="linear" [legend]="true" [gradient]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [showRefLines]="true"
      [autoScale]="true" [referenceLines]="refWater">
    </ngx-charts-line-chart>
  </div>

  <hr>
  <br>
  <div class="text-center">
    <h6> <i class="fa fa-fire"></i> Smoking Tracker</h6>
    <br>
    <ngx-charts-line-chart [results]="dataSmoke" [xAxis]="true" [yAxis]="true" scheme="solar" schemeType="linear" [legend]="true" [gradient]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [showRefLines]="true"
      [autoScale]="true" [referenceLines]="refSmoke">
    </ngx-charts-line-chart>
  </div>

</div>
