<div class="stories-container">
  <!--<div class="stories-container-header">
    <div class="stories-container-header-title">Stories</div>
  </div>-->
  <div class="stories-content">
    <owl-carousel
            [options]="iconsCarouselOptions"
            [items]="[userStoriesBy24Hours, friendsData]"
            [carouselClasses]="['owl-theme', 'sliding']"
            style="flex: 1"
    >
      <div class="slides-item"
           [ngClass]="{ 'has-story': userStoriesBy24Hours.length > 0 }"
      >
        <div class="slides-item-user-logo" (click)="openModalWithClass(userStoriesModal, 'story')">
          <!--<div class="circle__spin">
            <svg>
              <circle cx="50%" cy="50%" r="28px"></circle>
            </svg>
          </div>-->
          <img [src]="user.profile_image.public_url" alt="{{user.name}}">
        </div>
      </div>

      <div class="slides-item" *ngFor="let friend of friendsData; let i = index"
           (click)="getFriendStoriesById(friend.user_id); openModalWithClass(friendsStoriesModal)">
        <div class="slides-item-user-logo">
          <img [src]="friend.user_image">
        </div>
        <div class="slides-item-user-name">
          {{friend.user_name | titlecase}} <br>
          <span style="font-size: 10px;">{{friend.count_new}} new stories</span>
        </div>
      </div>

    </owl-carousel>
    <button class="slides-item-add-btn" (click)="openModalWithClass(addStoryModal)">
      <i class="fas fa-plus plus"></i>
    </button>
  </div>
</div>

<ng-template #addStoryModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left friends-stories-title">Your Story</h4> <br>
    <button type="button" class="close pull-right" aria-label="Close" (click)="clearStory()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="friends-stories-graph">
      Share photos, videos or write something that will only be visible for 24 hours
    </div>
    <div class="add-story-container">
      <div class="add-story-main-info">
        <div class="general-info-controls">
          <label class="general-info-label">Story Title</label>
          <input  class="general-info-input" type="text" placeholder="Add title"
                  [(ngModel)]="title" [ngModelOptions]="{standalone: true}" >
        </div>
        <label class="general-info-label">Story message</label>
        <div class="feed-form-control">
          <emoji-mart (emojiClick)="addEmoji($event)" [showPreview]="false" [totalFrequentLines]="1" *ngIf="togglePost"></emoji-mart>
          <textarea class="feed-textarea" rows="3" placeholder="Add message (max 400 characters)..."
                    (keyup)="togglePost = false" name="content" [(ngModel)]="message">
          </textarea>
          <span class="feed-form-control-icon" (click)="openPickerPost()">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="smile" class="svg-inline--fa fa-smile fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
              <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm4 72.6c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.1-8.4-25.3-7.1-33.8 3.1z"></path>
            </svg>
          </span>
        </div>
      </div>

      <div class="add-story-content">
        <div>
          <div class="compare-photo-title">Add photo or video to your Story</div>
          <span class="notify error" *ngIf="bigFile">Maximum file size is 2 Mb</span>
          <div class="add-story-content-preview" *ngIf="previewUrl">
            <img class="add-story-content-preview-img" [src]="previewUrl" *ngIf="format==='image'" height="200"> <br/>
            <video class="add-story-content-preview-img" [src]="previewUrl" *ngIf="format==='video'" height="200" controls></video>
            <button type="button" class="clear-story-btn" (click)="cancel()">Cancel</button>
          </div>

          <div *ngIf="!previewUrl" class="drag-photo-zone" (click)="uploader.click()">
            <input [accept]="accept" style="display: none;" #uploader type="file" (change)="upload($event.target.files)">
            <span class="drag-photo-zone-icon">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="box-open" class="svg-inline--fa fa-box-open fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M425.7 256c-16.9 0-32.8-9-41.4-23.4L320 126l-64.2 106.6c-8.7 14.5-24.6 23.5-41.5 23.5-4.5 0-9-.6-13.3-1.9L64 215v178c0 14.7 10 27.5 24.2 31l216.2 54.1c10.2 2.5 20.9 2.5 31 0L551.8 424c14.2-3.6 24.2-16.4 24.2-31V215l-137 39.1c-4.3 1.3-8.8 1.9-13.3 1.9zm212.6-112.2L586.8 41c-3.1-6.2-9.8-9.8-16.7-8.9L320 64l91.7 152.1c3.8 6.3 11.4 9.3 18.5 7.3l197.9-56.5c9.9-2.9 14.7-13.9 10.2-23.1zM53.2 41L1.7 143.8c-4.6 9.2.3 20.2 10.1 23l197.9 56.5c7.1 2 14.7-1 18.5-7.3L320 64 69.8 32.1c-6.9-.8-13.5 2.7-16.6 8.9z"></path></svg>
            </span>
            <div class="drag-photo-zone-title">Click</div>
            <div class="drag-photo-zone-graph">Add photo or short video to your story</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="add-story-btn" (click)="sendStory(); clearStory()" [disabled]="bigFile">
      Upload
    </button>
  </div>
</ng-template>

<ng-template #userStoriesModal>
  <div class="modal-header">
<!--    <h4 class="modal-title pull-left friends-stories-title">Your Own Stories</h4>-->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
<!--    <div class="friends-stories-graph">Your real life stories for the current 24 hours</div>-->
    <div class="friends-stories-container">
      <!--<div class="friends-stories-list">
        <div class="friends-stories-list-item">
          <button class="slides-item-add-btn" (click)="modalRef.hide(); openModalWithClass(addStoryModal)">
            <i class="fas fa-plus"></i> <span>New</span>
          </button>
          <div class="friends-stories-list-item-info">
            Share your videos, photos or post
          </div>
        </div>
        <hr>
        <div class="friends-stories-list-item"
             *ngFor="let story of userStoriesBy24Hours; let i = index">
          <div class="slides-item-user-logo" style="width: 30%; margin-right: 10px;">
            <img [src]="story.user_image">
          </div>
          <div class="friends-stories-list-item-info">
            <div class="friends-stories-list-item-name">
              {{story.user_name | titlecase}}
            </div>
            <div class="friends-stories-list-item-news">
              {{story.post_title | slice: 0 : 15}}
            </div>
          </div>
        </div>
      </div>-->

      <div class="friends-stories-view">
        <div class="friends-stories-graph" *ngIf="userStoriesBy24Hours.length === 0">
          There are no stories to display yet
        </div>
        <div class="stories-container">
          <owl-carousel [options]="storiesCarouselOptions" [items]="[userStoriesBy24Hours]" [carouselClasses]="['owl-theme', 'sliding']">
            <div *ngFor="let userStory of userStoriesBy24Hours; let i = index">
              <div class="friends-stories-view-item"
                   [style.background]="'url(' + userStory.user_image + ')'">
                <span class="slides-item-remove" (click)="deleteStory(userStory.post_id)">
                  <i class="fas fa-trash-alt"></i>
                </span>
                <div class="friends-stories-title">{{userStory.post_title | titlecase}}</div>
                <img class="friends-stories-view-item-img" *ngIf="userStory.post_file_type === 1"
                     [src]="userStory.post_file">
                <video class="friends-stories-view-item-img" *ngIf="userStory.post_file_type === 2"
                       [src]="userStory.post_file" height="245" controls></video>
                <div class="friends-stories-view-item-graph">
                  {{userStory.post_message | slice: 0: 400}}
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #friendsStoriesModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left friends-stories-title">Friends Stories</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="friends-stories-graph">Be aware of your friends' real life stories</div>
    <div class="friends-stories-container">
      <div class="friends-stories-list">
        <div class="friends-stories-list-item">
          <button class="slides-item-add-btn" (click)="modalRef.hide(); openModalWithClass(addStoryModal)">
            <i class="fas fa-plus"></i> <span>New</span>
          </button>
          <div class="friends-stories-list-item-info">
            Share your videos, photos or post
          </div>
        </div>
        <hr>
        <div class="friends-stories-list-item"
             [ngClass]="{'friends-stories-list-item-active': friend.user_id === currentFriendId}"
             *ngFor="let friend of friendsData; let i = index"
             (click)="getFriendStoriesById(friend.user_id)">
          <div class="slides-item-user-logo" style="width: 30%; margin-right: 10px;">
            <img [src]="friend.user_image">
          </div>
          <div class="friends-stories-list-item-info">
            <div class="friends-stories-list-item-name">
              {{friend.user_name | titlecase}}
            </div>
            <div class="friends-stories-list-item-news">
              {{friend.count_new}} new stories
            </div>
          </div>
        </div>
      </div>

      <div class="friends-stories-view">
        <div class="friends-stories-graph" >
          There are no stories to display yet
        </div>
        <div class="stories-container">
          <owl-carousel [options]="storiesCarouselOptions" [items]="[currentFriendStories]" [carouselClasses]="['owl-theme', 'sliding']">
            <div *ngFor="let friendStory of currentFriendStories; let i = index">
              <div class="friends-stories-view-item"
                   [style.background-image]="'url(' + friendStory.user_image + ')'">
                <div class="friends-stories-title">{{friendStory.post_title | titlecase}}</div>
                <img class="friends-stories-view-item-img" *ngIf="friendStory.post_file_type === 1"
                     [src]="friendStory.post_file">
                <video class="friends-stories-view-item-img" *ngIf="friendStory.post_file_type === 2"
                       [src]="friendStory.post_file" height="245" controls></video>
                <div class="friends-stories-view-item-graph">
                  {{friendStory.post_message | slice: 0: 400}}
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</ng-template>
