.lesson-card {
  width: 25.7vw;
  max-width: 440px;
  border-radius: 5px;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  /* height: 15.36vw; */
  margin-bottom: 30px;
}

.lesson-card.side {
  width: 100%;
  height: 180px;
}

.lesson-card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.lesson-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  line-height: 35px;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  margin: 0;
}

.explore {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background: rgb(0, 167, 223);
  border-radius: 30px;
  padding: 5px 30px;
  transition: all 0.25s;
  outline: none;
  border: 5px solid rgb(0, 167, 223);
}

.explore.play {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.explore:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 167, 223, 0.8);
}

/*
Tornado
*/

.lesson_card {
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  /* height: 170px; */
  overflow: hidden;
  background-color: #00000020;
}

.lesson_card > img {
  /* height: 100%; */
  width: 100%;
}

.play_button {
  border-radius: 36px;
  background-color: #529dff;
  border: none;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.play_button > i {
  margin-left: 9px;
}

.play_button_text {
  font-size: 10px;
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
}

.play_button > :first-child {
  margin-right: 10px;
}

.description_container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
}

.description_container > p {
  font-family: Montserrat !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: white;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 720px) {
  .lesson_card {
    width: 90vw;
    /* height: 163px; */
  }
  .description_container > p {
    font-size: 10px;
  }
  .play_button {
    width: 30px;
    height: 30px;
  }

  .play_button_text {
    display: none;
  }
}