.content-wrap {
  width: 100%;
  margin-top: 30px;
}

.content-thumb {
  width: 100%;
  position: relative;
}

.content-thumb-image {
  width: 100%;
  height: auto;
  max-height: 415px;
  object-fit: cover;
}

.play-video {
  width: 96px;
  height: 96px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.content-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #4a6288;
  margin: 20px 0 50px;
}

.content-description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
}

/*
@Tornado
*/
.container {
  width: 100%;
}

.back_button_container {
  display: flex;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  border: none;
  align-items: center;
  background-color: transparent;
}

.back_button_icon {
  font-size: 12px;
}

.back_button_container > :first-child {
  margin-right: 10px;
}

.content_container {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.content_thumbnail_container {
  max-height: 471px;
  width: 100%;
  position: relative;
}

.content_thumbnail {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.play_video_icon {
  width: 96px;
  height: 96px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.content_desc_container {
  width: 100%;
  margin-top: 32px;
  padding: 0px 32px 61px;
}

.content_desc_container > h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #263238;
}

.content_subtitle_container {
  margin: 17px 0px;
  display: flex;
  align-items: center;
}

.content_subtitle_container > h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #263238;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.content_subtitle_container_separator {
  width: 6px;
  height: 6px;
  background: #d9d9d9;
  margin: 0px 10px 0px;
  border-radius: 3px;
}

.content_duration {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.content_desc_text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #5c6970;
  line-height: 1.3;
}