<!-- <div class="row">
  <div class="box-header">
    <div class="pull-right">      
    </div>
    <h3>Hi, {{user.name}}</h3>
    <small>
      Welcome to your control panel, it shows a summary of your achievements to date</small>
    <hr class="hr-is-client-white">
  </div>
</div> -->
<!-- 
<div class="row" >
  <div class="box-header" >
    <div class="pull-right">      
    </div>
    <div class="profile_main-heading" style="padding-top: 42px !important;">Account settings</div>
  
    <div _ngcontent-c8="" class="tab tab_profile">
      <button _ngcontent-c8="" class="tablinks active">Your Profile</button>
      <button _ngcontent-c8="" class="tablinks">Payment Detail</button>
      <button _ngcontent-c8="" class="tablinks">Email Notificanions</button>
      
  </div>
</div>
</div> -->
