<div id="m-b-b" class="modal in" data-backdrop="false" style="display: block;"
     #modalRef="bs-modal" *ngIf="isModal" [config]="{ show: true }" (onHidden)="hideModal()" bsModal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loader" *ngIf="loader"></div>
            <div class="wrapper" *ngIf="!loader">
                <div class="header">
                    <h3 class="heading">Create Ticket</h3>
                    <span class="close" (click)="hideModal()"><i class="material-icons sort-icon">close</i></span>
                </div>
                <div class="new-lead-form">
                    <div class="form-row">
                        <div class="field half">
                            <label for="first_name">Name</label>
                            <input
                                    type="text"
                                    class="form-control input-sm"
                                    name="first_name"
                                    id="first_name"
                                    [(ngModel)]="formFields.name"
                                    placeholder="Name"
                            >
                            <span class="form-control-error" *ngIf="!formFields.name && touched">
                                  Please fill name
                              </span>
                        </div>
                        <div class="field half">
                            <label for="email">Email </label>
                            <input
                                #email
                                type="email"
                                class="form-control input-sm"
                                name="email"
                                id="email"
                                [(ngModel)]="formFields.email"
                                placeholder="Enter email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
                            >
                            <span class="form-control-error" *ngIf="!formFields.email && touched">
                                Please fill email
                              </span>
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="field half">
                            <label for="phone">Phone number </label>
                            <input type="text"
                                   class="form-control input-sm"
                                   ng2TelInput
                                   placeholder="Phone Number"
                                   required="" name="phone" id="phone" #phone
                                   (countryChange)="onCountryChange($event)"
                                   [(ngModel)]="formFields.phone"
                                   [ngModelOptions]="{standalone: true}"
                                   (intlTelInputObject)="telInputObject($event)"
                            />
                            <span class="form-control-error" *ngIf="!formFields.phone && touched">
                                Please fill phone
                              </span>
                        </div>
                        <div class="field half">
                            <label for="agent_id">Agent</label>
                            <ng-select
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="formFields.manager_id"
                                    id="agent_id"
                            >
                                <ng-option *ngFor="let manager of managersList" name="agent" [value]="manager.id">
                                    {{manager.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="field">
                            <label for="comment">Comment</label>
                            <textarea
                                name="comment"
                                id="comment"
                                cols="30"
                                rows="10"
                                placeholder="Comment"
                                class="form-control"
                                [(ngModel)]="formFields.comment"
                            ></textarea>
                            <span class="form-control-error" *ngIf="!formFields.comment && touched">
                                Please fill comment
                            </span>
                            <span class="form-control-error" *ngIf="commentLength && touched">
                                Comment must have a minimum length of 25 characters
                            </span>
                        </div>
                        
                    </div>

                    <div *ngIf="isError" class="form-row">
                        <div class="field">
                            <p style="color: red; font-weight: 10px"><em><strong>{{ errorMessage }}</strong></em></p>
                        </div>
                    </div>
                </div>
                <button class="save-btn" (click)="handleSubmit()">Save</button>
            </div>
        </div>
    </div>
</div>
