.search-box {
    padding: 0.5rem 0 0 1rem;
    margin-top: 5px;
}

.tfoot-no-contents {
    margin-top: 4px;
    font-size: 90%;
    font-weight: 400;
    color: #2c363e;
    opacity: .6;
    text-align: center;
}

th.edit-buttons {
    width: 17%;
}

td.right {
    text-align: right;
}

.thumbnail {
    width: 50px;
    height: 34px;
    border-radius: 3px;
    object-fit: cover;
}

.capitalize {
    text-transform: capitalize;
}