<div class="wrapper">
    <h3 class="crm-heading">User</h3>
    <div class="crm-content" *ngIf="!loading && user">
        <div class="summary block">
            <div class="summary-header">
                <h5 class="summary-item user-name">{{user.name}} {{user.last_name}}</h5>
                <div class="summary-item active">
                    <img src="../../../../../../../assets/images/crm/pulse.svg" alt="active">
                    {{user.client.is_subscription_active ? 'Active' : user.client.membership.id === 4 ? 'Free' : 'Non active'}}
                </div>
                <div *ngIf="user.local_time"
                     class="summary-item time"
                     [matTooltip]="user.timezone"
                     matTooltipPosition="above"
                     matTooltipHideDelay="500">
                    <img src="../../../../../../../assets/images/crm/clock.svg" alt="time">
                    {{user.local_time}}
                </div>

                <div class="summary-item active">
                    <img src="../../../../../../../assets/images/crm/geo.svg" alt="active">
                    {{userCountry}} / {{user.city}}
                </div>

                <div class="summary-item phone" *ngIf="user.phone">
                    <img src="../../../../../../../assets/images/crm/telephone.svg" alt="phone">
                    {{user.phone}}
                </div>

                <div class="summary-item email" *ngIf="user.email">
                    <img src="../../../../../../../assets/images/crm/envelope.svg" alt="mail">
                    {{user.email}}
                </div>

                <div class="summary-item login" *ngIf="user.last_login_at">
                    <img src="../../../../../../../assets/images/crm/login.svg" alt="login">
                    {{user.last_login_at}}
                </div>
            </div>
            <div class="summary-additional" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <div class="additional-item">
                        <span class="additional-heading">User Type: </span>
                        <span class="additional-data">{{user.client.membership.title}}</span>
                    </div>
                    <div class="additional-item">
                        <span class="additional-heading">Status: </span>
                        <span class="additional-data">{{user.status?.name}}</span>
                    </div>
                    <div class="additional-item">
                        <span class="additional-heading">Assigned AM: </span>
                        <span class="additional-data">{{user.manager?.name || 'new'}}</span>
                    </div>
                </div>

                <div class="summary-buttons">
                    <button class="btn btn-sm btn-primary" (click)="sendTemporaryPassword()">Temporary password</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="additional-tabs block">
                <div class="user-additional-nav">
                    <button class="user-additional-nav-item"
                            [ngClass]="{'tab-active': tab == 'info'}"
                            [routerLink]="['/board/a/crm/user/', user.id, 'info']">
                        <span class="material-icons">
                            person_outline
                        </span>
                        User-information
                    </button>
                    <button class="user-additional-nav-item"
                            [ngClass]="{'tab-active': tab == 'finance'}"
                            [routerLink]="['/board/a/crm/user/', user.id, 'finance']">
                        <span class="material-icons">
                            attach_money
                        </span>
                        Finance & billing
                    </button>
                    <button class="user-additional-nav-item"
                            [ngClass]="{'tab-active': tab == 'notes'}"
                            [routerLink]="['/board/a/crm/user/', user.id, 'notes']">
                        <span class="material-icons">
                            chat_bubble_outline
                        </span>
                        Notes
                    </button>
                    <button class="user-additional-nav-item"
                            [ngClass]="{'tab-active': tab == 'activity'}"
                            [routerLink]="['/board/a/crm/user/', user.id, 'activity']">
                        <span class="material-icons">
                            timeline
                        </span>
                        Activity monitoring
                    </button>
                </div>
                <div class="tab-content">
                    <div class="tab-data" *ngIf="tab === 'info'">
                        <app-user-info [user]="user" (getUser)="callForUserData()" (saveUser)="handleUpdatedUser($event)"></app-user-info>
                    </div>
                    <div class="tab-data" *ngIf="tab === 'finance'">
                        <app-finance [user]="user" (getUser)="callForUserData()" (saveUser)="handleUpdatedUser($event)"></app-finance>
                    </div>
                    <div class="tab-data" *ngIf="tab === 'notes'">
                        <app-notes (getUser)="callForUserData()" [user]="user"></app-notes>
                    </div>
                    <div class="tab-data" *ngIf="tab === 'activity'">
                        <app-activity (getUser)="callForUserData()" [user]="user"></app-activity>
                    </div>
                </div>
            </div>
            <div class="additional-notes block notes">
                <p class="notes-heading">Last Notes</p>
                <div class="w-100" *ngFor="let item of user.notes" fxLayout="row" fxLayoutAlign="space-between none">
                    <div class="notes-date">{{item.created_at}}</div>
                    <div class="notes-body">{{item.body}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="loading"></div>
    <p class="error" *ngIf="error">{{error}}</p>
</div>
