@import "src/assets/css/fonts/typography";

.wrapper {
    padding: 0 20px 20px;
    color: #4A6288;
}
.crm-heading {
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding: 5px 30px;
    border-radius: 70px;
    margin-bottom: 20px;
    background: white;
    display: inline-block;
}

.crm-content {
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 10px/30px;
}

.block {
    border: 1px solid #D3CECE;
    padding: 10px 15px;
    border-radius: 8px;
}

.summary {
    margin-bottom: 15px;
}

.summary-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.summary-buttons {
    float: right;
}

.summary-item {
    margin-right: 15px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #857E7E;
    display: flex;
    align-items: center;
}

.summary-item img {
    margin-right: 10px;
    height: 20px;
}

.user-name {
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4A6288;
}

.summary-additional {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.additional-item {
    margin-right: 20px;
}

.additional-heading {
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.additional-notes {
    width: 25%;
}

.additional-tabs {
    width: calc(75% - 15px);
}

.user-additional-nav {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.additional-tabs {
    padding: 0;
}

.user-additional-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: transparent;
    transition: all .25s;
    width: 25%;
}

.user-additional-nav-item .material-icons {
    margin-right: 10px;
}

.tab-active, .user-additional-nav-item:hover {
    background: rgba(0, 167, 223, 0.3);
}

.tab-content-item {
    border-top: 1px solid #D3CECE;
}

.notes {
    & * {
        @include font-montserrat();
    }

    &-heading {
        font-weight: 500;
        font-size: 15px;
        color: #4A6288;
    }

    &-date {
        font-size: 10px;
        color: #857E7E;
    }

    &-body {
        font-size: 12px;
        color: #4A6288;
        margin-left: 10px;
        line-height: 16px;
    }
}
